[2017-03-30 19:21] joaofnfernandes commented on #2052
"Mobile header covers up page title and cycles through colors" is marked as resolved, but it seems users are still being affected.

https://twitter.com/durdiness/status/847520728685719552

[2017-03-30 19:53] pvnovarese opened #2562 "memory and swap accounting steps are for ubuntu only"
#File: [engine/installation/linux/linux-postinstall.md](https://docs.docker.com/engine/installation/linux/linux-postinstall/), CC @mstanleyjones

Log into Ubuntu as a user with sudo privileges.
Edit the /etc/default/grub file.
Add or edit the GRUB_CMDLINE_LINUX line to add the following two key-value pairs:
GRUB_CMDLINE_LINUX="cgroup_enable=memory swapaccount=1"
Save and close the file.
Update GRU

[2017-03-30 20:48] mstanleyjones opened #2563 "Admonition styling should be different for info, caution, warning"
File: [test.md](https://docs.docker.com/test/), CC @johndmulhausen

I'm not sure how to do this, maybe some JS that looks for the words inside the first `<strong>` tag and adds a class to the blockquote based on it? Right now there is no programmatic way to know that they are not just plain notes.

[2017-03-30 21:18] #2233 closed

[2017-03-30 21:19] #1604 closed

[2017-03-30 21:37] mstanleyjones commented on #2562
I am not even 100% sure we should have those instructions for Ubuntu! Maybe we should just tell them they might have to do it, and to refer to their OS docs for how. WDYT @thaJeztah ?

[2017-03-30 21:38] mstanleyjones commented on #208
We did this by removing those files from our repo and getting them at build time.

[2017-03-30 21:38] #208 closed

[2017-03-30 21:39] #268 closed

[2017-03-30 21:39] #306 closed

[2017-03-30 21:46] mstanleyjones commented on #639
This has been addressed in the topic https://docs.docker.com/engine/installation/linux/linux-postinstall/

[2017-03-30 21:46] #639 closed

[2017-03-30 21:47] mstanleyjones commented on #644
See https://docs.docker.com/engine/installation/linux/linux-postinstall/

[2017-03-30 21:47] #644 closed

[2017-03-30 22:13] #636 closed

[2017-03-30 22:24] #691 closed

[2017-03-30 22:25] mstanleyjones commented on #708
If this is still a problem, please raise a Github issue in the https://github.com/docker/docker project.

[2017-03-30 22:25] #708 closed

[2017-03-30 22:27] mstanleyjones commented on #711
Sorry for not getting back to you sooner! The information you are looking for already exists at https://docs.docker.com/engine/swarm/manage-nodes/. You'll probably find lots of good info there!

[2017-03-30 22:27] #711 closed

[2017-03-30 22:44] mstanleyjones commented on #745
Swarm mode is part of Docker for Windows. The file you referenced in your initial feedback is for standalone swarms, which are considered legacy. For more detailed instructions about HyperV and VirtualBox interaction, see https://docs.docker.com/docker-for-windows/install/#what-to-know-before-you-install.

[2017-03-30 22:44] #745 closed

[2017-03-30 22:45] #939 closed

[2017-03-30 22:45] #1038 closed

[2017-03-30 22:46] mstanleyjones commented on #1060
This is the type of question you should probably be asking on forums.docker.com. Sorry for the delay.

[2017-03-30 22:46] #1060 closed

[2017-03-30 22:58] mstanleyjones commented on #1078
See https://docs.docker.com/engine/userguide/networking/overlay-security-model/. It's empty because your syntax is not quite right. It's a Boolean option, and it should be `--opt encrypted` or `--opt encrypted=true`. Notice the space. Each option is a key-value pair of its own.

[2017-03-30 22:58] #1078 closed

[2017-03-30 23:01] mstanleyjones commented on #1171
This content has been expanded. If you need more info, please raise an issue in the `docker/docker` project, as that is where this content is maintained.

[2017-03-30 23:01] #1171 closed

[2017-03-30 23:02] #1084 closed

[2017-03-30 23:03] #1107 closed

[2017-03-30 23:04] mstanleyjones commented on #1183
Please reopen if this is still a problem and you didn't rename the thin pool.

[2017-03-30 23:04] #1183 closed

[2017-03-30 23:06] #1451 closed

[2017-03-30 23:27] pascalandy commented on #1078
Yes make sense! Thank you

[2017-03-31 03:16] londoncalling commented on #2555
Hi @MikeMitterer , when I walked through this example, I never explicitly opened a port on AWS.

@nathanleclaire @shin- @dnephin can you verify this is necessary?

[2017-03-31 07:12] jeffrey008 opened #2575 "The "Dock Hub" glossary is not showing line break"
File: [glossary.md](https://docs.docker.com/glossary/), CC @johndmulhausen

What I see is:
`Docker image hosting User authentication Automated image builds and work-flow tools such as build triggers and web hooks Integration with GitHub and Bitbucket`

What I expect from `glossary.yml`:
[code]

[2017-03-31 16:39] nathanleclaire commented on #2555
It seems @MikeMitterer must need this to access his app, which presumably is listening on port 8000?

Generally I'd consider it in the realm of general AWS knowledge -- but it might be good to make a generic mention about opening ports in security groups to access anything `--publish`-ed.

[2017-03-31 16:49] joaofnfernandes opened #2580 "Improve requirements for HRM network"
https://docs.docker.com/datacenter/ucp/2.1/guides/user/services/use-domain-names-to-access-services/#under-the-hood

Explains that to use the HTTP routing mesh you can either use the default `ucp-hrm` network or create one. But we should show an example command on how to create that network, since that makes it more explicit.

We also need to make it explicit if you can create these networks at an

[2017-03-31 18:37] #727 closed

[2017-03-31 18:37] mstanleyjones commented on #1509
This feedback was addressed by earlier work. Thanks!

[2017-03-31 18:37] #1509 closed

[2017-03-31 18:39] mstanleyjones commented on #1541
The `NET I/O` and `BLOCK I/O` refer to the amount of data moved in and out of the container on block devices and the network.

[2017-03-31 18:39] #1541 closed

[2017-03-31 18:40] #1546 closed

[2017-03-31 18:42] mstanleyjones commented on #1550
It connects your terminal's standard input, standard output, and standard error to the container, so that you can interact with the container using your keyboard and terminal display.

[2017-03-31 18:42] #1550 closed

[2017-03-31 18:46] mstanleyjones commented on #1556
The usage instructions in this document are programmatically pulled straight from the Cobra specification in the Docker code, and match the output of `docker tag --help`. Please raise this issue [there](https://github.com/docker/docker) if you feel that the usage instructions for `docker tag` need to be enhanced.

[2017-03-31 18:46] #1556 closed

[2017-03-31 18:47] mstanleyjones commented on #1591
No longer applies.

[2017-03-31 18:47] #1591 closed

[2017-03-31 19:01] #2341 closed

[2017-03-31 19:46] bseib commented on #1550
That one sentence would be *worth gold* right beneath Description. Currently it just says "Attach to a running container". Well, I could have guessed *that* much! :-)

![image](https://cloud.githubusercontent.com/assets/1313561/24566491/6a02cd22-15f5-11e7-999c-532a4a3a9909.png)

Putting your one sentence in that spot would work way better!  :-) It would help out a new docker person (like me) readi

[2017-03-31 20:25] mstanleyjones commented on #1550
See https://github.com/docker/docker/pull/32282 :)

[2017-03-31 20:29] bseib commented on #1550
I'm so glad you guys have this user feedback process baked into your documentation. It will make you win.

Also. the bat is awesome.

[2017-03-31 20:49] mstanleyjones commented on #1550
The `docker/docker` project has a tradition about those animals, and someone made https://twitter.com/DockerCuties based on that. :)

[2017-03-31 22:11] joaofnfernandes commented on #2563
No JS 🙏

We can add classes to the block quotes like

[code]

And then create css like

[code]

Easy peasy. I would also prefer to stick to just 2 types:
* Info: the default so that you don't need to even apply the class
* Warning: this is really bad

This will force us to be careful when using notes so that we don't end up creating a crappy experience like this (not wanting to offend the authors)

[2017-03-31 22:14] joaofnfernandes commented on #2555
This is not really obvious. Usually AWS machines only have port 22 accessible from the outside.
If I'm new to Docker and deployed a sample app like wordpress or nginx, I'm expecting to be able to reach my app. If you don't know that you need to tweak the security group for the AWS instance, this can be hard to troubleshoot, and you might think there's something wrong with the way you deployed the

[2017-03-31 22:18] yongshin opened #2585 "UCP command reference doesn't contain examples"
The following command should be the correct command to run when generating a support dump from command line:

[code]

File: [datacenter/ucp/2.1/reference/cli/support.md](https://docs.docker.com/datacenter/ucp/2.1/reference/cli/support/), CC @joaofnfernandes

[2017-03-31 22:25] joaofnfernandes commented on #2585
The support command is currently documented here https://docs.docker.com/datacenter/ucp/2.1/guides/get-support/#from-the-ui,

But it seems you uncovered something bigger. Currently the reference documentation doesn't contain examples on how to run the command. I'm updating the issue's title to reflect this.

[2017-03-31 22:28] #1718 closed

[2017-03-31 23:07] vieux opened #2587 "clicking on a link in the API docs doesn't work properly"
![link](https://cloud.githubusercontent.com/assets/1032519/24572276/202d1eb4-162c-11e7-95ae-dcb5e04f9bd6.gif)

See the url of the page.

[2017-03-31 23:11] nathanleclaire commented on #2555
Ah, so, I did not realize that this was in reference to an article where we explicitly say to run a container and access it: https://docs.docker.com/machine/examples/aws/#step-3-run-docker-commands-on-the-instance

Since it is a walkthrough (I thought it was about the generic AWS reference), I'd say this is very valid feedback and should be added

[2017-03-31 23:12] nathanleclaire commented on #2555
@MikeMitterer This would make a good docs PR if you wanted to contribute ;)

[2017-04-01 00:09] londoncalling commented on #2555
@nathanleclaire thanks! @MikeMitterer I can either add this, or you can create a docs PR. If I don't hear from you in a day or two, I'll make the update.

[2017-04-01 00:20] lythix opened #2589 "Give example of VOLUME command for Dockerfile"
The command line method of creating a volume to "Mount a host directory as a data volume"
is (for example)

[code]
What would the equivalent Dockerfile syntax be? Give an example under the VOLUME section

File: [engine/reference/builder.md](https://docs.docker.com/engine/reference/builder/), CC @mstanleyjones

[2017-04-01 05:35] samdevx1029 opened #2592 ""docker-machine create" using Hyper-V driver generates IPv6 address"
File: [machine/drivers/hyper-v.md](https://docs.docker.com/machine/drivers/hyper-v/), CC @londoncalling
**I am not able to get the same result as advertised on this page. Instead, I get the following output.**

**PS C:\WINDOWS\system32>** docker-machine create -d hyperv --hyperv-virtual-switch ### _"virtualSwitchAndBridge" worker2
Running pre-create checks...
Creating machine...
(worker2) Copying

[2017-04-01 08:27] johndmulhausen commented on #2563
Everything Joao said, basically; I'll have a looksee.

[2017-04-01 17:31] JimGalasyn commented on #2496
Topic is live: https://docs.docker.com/docker-ee-for-windows/install/

[2017-04-01 17:32] JimGalasyn commented on #1746
If you're satisfied with this resolution, I'll go ahead and close this issue.

[2017-04-01 17:32] JimGalasyn commented on #1674
If you're satisfied with this resolution, I'll go ahead and close this issue.

[2017-04-01 17:32] JimGalasyn commented on #1610
If you're satisfied with this resolution, I'll go ahead and close this issue.

[2017-04-01 20:12] pzi123 commented on #1610
The CLI instructions I was commenting on were about Linux/UNIX environment. I guess you need the OS like that to work on that fix.  You also need to know what 'sudo' is.

[2017-04-01 21:10] thaJeztah commented on #2562
Hm, tough one; in a way, I agree with referring to their distros docs, but it can save a lot of time having the information ready. The times i've seen this configuration needed was all on Ubuntu/Debian.

@pvnovarese Is this configuration change needed on a default RHEL install?

[2017-04-02 04:33] gdennie opened #2595 "docker network gateway and dhcp aren't mentioned early enough"
File: [engine/userguide/networking/index.md](https://docs.docker.com/engine/userguide/networking/), CC @mstanleyjones

The network notion discussions would seem to benefit from a mention of it's gateway and dhcp support as an organizing model for the discussion.

[2017-04-02 05:03] gdennie opened #2596 "Survey requires a back button to correct prior rating"
File: [engine/reference/commandline/cli.md](https://docs.docker.com/engine/reference/commandline/cli/), CC @mstanleyjones

[2017-04-02 05:07] gdennie opened #2597 "can't find detailed documentation on "docker run -v""
File: [index.md](https://docs.docker.com/), CC @johndmulhausen

Your documentation site is starting to become pretty flashy and useless.

[2017-04-02 05:13] gdennie opened #2598 ""docker run -v" description needs improvement"
File: [engine/reference/commandline/run.md](https://docs.docker.com/engine/reference/commandline/run/), CC @mstanleyjones

Mount volume (-v, –read-only)

The description for this command is problematic. If it is reflective of the rest of this reference section, then cleaning this fundamental section up should be a priority, I think.

Each command should include a pseudo type signature

[2017-04-03 01:59] vovimayhem commented on #2346
Also, I'd wish to know how can I configure it, and specifically, how to configure - if allowed - the ownership of the volume.

I tried to use it for the rabbitmq image, but it blew up on my face because the ownership of the files stored on it must be changed to the rabbitmq user, but they just won't change.

[2017-04-03 09:44] mpender opened #2602 "404 at /compose/compose-file/samples/"
URL: /compose/compose-file/samples/

[2017-04-03 14:40] #1746 closed

[2017-04-03 14:40] #1674 closed

[2017-04-03 15:30] JimGalasyn commented on #1610
Very good, thank you for the clarification. I'll add a note reminding Linux users that they may need to prepend "sudo" for commands to work.

[2017-04-03 17:40] cirocosta opened #2604 "Notes on roadmap for cloud distributions and being explicit about docker4x"
### Problem description

Docker doesn't explicitly states governance/roadmap/what-to-expect for `docker4x`-based images. It seemed a bit bad that the community didn't have the access to docker-for-mac sources and could really dig into it but it's ok because it's generally just a developer tool. However, when it comes to cloud deployments, one might be more tempted to question about what to expect

[2017-04-03 17:58] JimGalasyn commented on #2592
You may have better luck if you set up a new external network switch, as shown here: https://docs.docker.com/machine/drivers/hyper-v/#example .

[2017-04-03 20:28] mstanleyjones commented on #2598
What is a "pseudo type signature"?

[2017-04-03 20:29] mstanleyjones commented on #2596
Survey? What does that have to do with the file you referenced here? If you are talking about the documentation survey, perhaps @johndmulhausen can help.

[2017-04-03 20:34] mstanleyjones commented on #2563
I don't like us having to specify a class as well as the admonition type text itself. Maybe we should have the admonition title automatically added based on the class. I think we should default to Note since that is what we have always done and we have tons and tons of notes.

[2017-04-03 20:43] thaJeztah commented on #2596
I think the survey is an external service we use, not sure if it's configurable

[2017-04-03 20:47] thaJeztah commented on #2595
Bear with me, I'm not the networking expert 😅, but could you explain a bit more in detail what kind of changes you'd like to see (what's missing, or what wasn't clear from reading the docs)?

The docker networks have a default "IPAM" driver; alternative drivers are possible, but the default doesn't use DHCP (for the containers).

Happy to help, but it would be welcome if you could add a bit more i

[2017-04-03 20:54] thaJeztah commented on #2597
Could you keep your comments constructive; there's no need to use offensive language here

We welcome feedback, and contributions, but please keep it constructive.

I see you opened another issue regarding `docker run -v`; https://github.com/docker/docker.github.io/issues/2598, so I'll close this one.

[2017-04-03 20:54] #2597 closed

[2017-04-03 21:12] johndmulhausen opened #2606 "About Docker EE page should crib from blog post"
This:
https://blog.docker.com/2017/03/docker-enterprise-edition/

Has a lot more detail than this:
https://docs.docker.com/enterprise/

cc @mstanleyjones @JimGalasyn @joaofnfernandes

[2017-04-03 23:47] jjmonsalveg opened #2607 "error or other example?"
File: [engine/getstarted/step_four.md](https://docs.docker.com/engine/getstarted/step_four/), CC @mstanleyjones
Hello!, in Step 2 and 4 seem to be the result of the same run but the 3 seems to be another run.

Step 2: Successfully built c2c3152907b5
Step 3: Successfully built success 7d9495d03763

Step 4 (docker images):
Docker-whale latest c2c3152907b5 4 minutes ago 275.1 MB

It is not clear whet

[2017-04-04 09:33] Goldgod opened #2608 "404 at /en/latest/use/ambassador_pattern_linking/"
URL: /en/latest/use/ambassador_pattern_linking/

[2017-04-04 10:22] gdvalderrama commented on #2221
Right thanks!
On clicking the "Edit this page" button I got the message:

Which seemed more of a hassle than creating the issue.
I'll keep it in mind though ;)

[2017-04-04 15:18] londoncalling commented on #2592
@JimGalasyn thanks, exactly.
@samdevx1029 please let me know if the external network switch solves your problem. (It definitely won't work without it.)

[2017-04-04 16:07] londoncalling commented on #791
@johndmulhausen I believe this issue is no longer a problem per the new website and @mstanleyjones 's updates to Linux installers. Is that correct? If so, I'll close this one ...

[2017-04-04 16:09] londoncalling commented on #571
@nathanleclaire @shin- @dnephin If there are no objections, I'm going to close this ticket. It is not a docs issue. Let me know what you think.

@kobenauf if you'd like to submit an issue to the codebase, please work with the above folks ^^

[2017-04-04 16:19] dnephin commented on #571
@londoncalling SGTM

[2017-04-04 16:19] #571 closed

[2017-04-04 16:22] londoncalling commented on #502
Closing this issue for now.

[2017-04-04 16:22] #502 closed

[2017-04-04 16:25] londoncalling commented on #637
@pprados the relevant docs were updated some time ago. Sorry for not circling back around on this, but you should find these instructions more to your liking now:

- https://docs.docker.com/machine/completion/
- https://docs.docker.com/machine/install-machine/#installing-machine-directly

I will close this issue, but feel free to re-open if needed.

[2017-04-04 16:25] #637 closed

[2017-04-04 16:35] londoncalling commented on #702
@dnephin Okay I've read the discussion thread at [docker/compose#1503](https://github.com/docker/compose/issues/1503) and I'm almost tempted to just put a link to the issue in the docs at https://docs.docker.com/compose/reference/scale/ and https://docs.docker.com/compose/compose-file/#replicas. Do you have any thoughts on how to handle the "docs issue" side of this?

It's a good question, relevan

[2017-04-04 16:37] londoncalling commented on #1953
@karptonite I believe a better solution to this issue is on it's way with regard to the capabilities of Docker for Mac and Windows. Stay tuned to upcoming releases, and feel free to reach out again on this thread.

[2017-04-04 17:11] mstanleyjones commented on #1826
@thaJeztah I remember us discussing this before, quite a while ago. Did we get to the bottom of what `0` means?

[2017-04-04 17:14] mstanleyjones commented on #1917
@londoncalling are you interested in tackling this one? @johndmulhausen does this dovetail with your Getting Started work?

[2017-04-04 17:15] mstanleyjones commented on #1997
Fixed by #2353

[2017-04-04 17:15] #1997 closed

[2017-04-04 17:17] mstanleyjones commented on #2085
I'm all for having the matrix be automatically generated. How would that work?

As for the ARM architecture and a first pass at addressing architectures in the matrix, see #2382.

[2017-04-04 17:17] #2085 closed

[2017-04-04 17:41] londoncalling commented on #1917
@mstanleyjones yes, I'll do this right now, thanks

[2017-04-04 17:50] MarcoLotz opened #2611 "incorrect path for ubuntu distribution"
The current script is not being able to find the repo:
[code]

Apparently the resource has changed location, so this fixes:

[code]

File: [engine/installation/linux/ubuntu.md](https://docs.docker.com/engine/installation/linux/ubuntu/), CC @mstanleyjones

[2017-04-04 18:39] #2086 closed

[2017-04-04 18:41] mstanleyjones commented on #2611
@andrewhsu did this change?? Is this the correct location?

[2017-04-04 18:58] andrewhsu commented on #2611
The repos have not changed. using a url without `/dists` works for me:

[code]

[2017-04-04 19:05] mstanleyjones commented on #2611
I just tested it and it worked fine for me too. Maybe it is confusing because if you are just browsing through the page URLs, you do need to add `dists/`, but if you are adding the repository, you do not, because it is an expected part of the repository structure.

[code]

[2017-04-04 19:05] #2611 closed

[2017-04-04 19:06] #2302 closed

[2017-04-04 20:26] londoncalling commented on #1917
@skcodes @mstanleyjones I've updated "Learn more" per feedback, and hopefully clarified a suggested order to approach the tutorials and samples.

It doesn't make sense to entirely put topics in order in the table because the ideal (and inferred) scenario is that by the time someone gets to this page, they have already
a) installed Docker on their platform
b) walked through the Docker for Mac or Wi

[2017-04-04 20:38] mxlan opened #2616 "404 at /compose/compose-file/networking/"
URL: /compose/compose-file/networking/

Linked Under: https://docs.docker.com/compose/compose-file/compose-file-v2/#network-configuration-reference

[2017-04-04 20:39] mxlan commented on #2616
Perhaps it was meant to go here? https://docs.docker.com/compose/networking/
not sure, but trust the link in the future will be fixed. Whereas I'll be using that resource for now.

[2017-04-04 20:49] nathanleclaire opened #2617 "HTML "leaking" in compose file reference"
File: [compose/compose-file/index.md](https://docs.docker.com/compose/compose-file/), CC @londoncalling

<img width="254" alt="screen shot 2017-04-04 at 1 48 49 pm" src="https://cloud.githubusercontent.com/assets/1476820/24677945/7dbda468-193d-11e7-893a-de3995085ae7.png">

[2017-04-04 20:49] johndmulhausen commented on #658
Closing this oldie. Thanks! :)

[2017-04-04 20:49] #658 closed

[2017-04-04 20:50] johndmulhausen commented on #615
Closing this oldie.

[2017-04-04 20:50] #615 closed

[2017-04-04 20:51] johndmulhausen commented on #666
Closing this oldie; we now use ReDoc for API references

[2017-04-04 20:51] #666 closed

[2017-04-04 20:52] johndmulhausen commented on #659
Closing this oldie; think we're all set. Thanks!

[2017-04-04 20:52] #659 closed

[2017-04-04 20:54] johndmulhausen commented on #976
At some point it appears this got fixed.

[2017-04-04 20:54] #976 closed

[2017-04-04 20:56] #2414 closed

[2017-04-04 21:04] mstanleyjones opened #2619 "The right-hand side is cut off unless the screen is very wide"
File: [engine/installation/linux/linux-postinstall.md](https://docs.docker.com/engine/installation/linux/linux-postinstall/)

Even with a browser width of 1305px, my screen looks like the attached. Surely this is not right.

<img width="1303" alt="screen shot 2017-04-04 at 2 03 01 pm" src="https://cloud.githubusercontent.com/assets/7674613/24678499/93db6076-193f-11e7-9d07-a97916f66749.png">

[2017-04-04 21:09] #866 closed

[2017-04-04 21:09] #867 closed

[2017-04-04 21:09] #1964 closed

[2017-04-04 21:09] #2547 closed

[2017-04-04 21:26] #2617 closed

[2017-04-04 21:36] mstanleyjones commented on #2608
I can't find any link like that in the Docker docs. The closest I can find is: https://docs.docker.com/engine/admin/ambassador_pattern_linking/

Please post the page where you saw the link that failed for you.

[2017-04-04 21:52] londoncalling commented on #176
Labelling this as a good Hackathon issue. Step one will be making sure it's not already been addressed per more recent changes, but on a quick glance, I don't think so.

[2017-04-04 21:59] londoncalling commented on #791
This is addressed per the referenced PR ^^

[2017-04-04 21:59] #791 closed

[2017-04-04 22:02] londoncalling commented on #1917
This is now addressed per #2615 . Thanks for the feedback @skcodes. Feel free to follow up on this thread or open a new issue if you have more comments.

[2017-04-04 22:02] #1917 closed

[2017-04-04 22:03] #2616 closed

[2017-04-04 22:10] mstanleyjones commented on #1634
This is actually an upstream issue.

[2017-04-04 22:13] mstanleyjones commented on #1631
https://docs.docker.com/engine/reference/commandline/stack_ps/#filtering This is done!

[2017-04-04 22:13] #1631 closed

[2017-04-04 22:13] johndmulhausen commented on #2596
It's not configurable; the survey will be fulfilled and taken offline today so closing this as no-op.

[2017-04-04 22:13] #2596 closed

[2017-04-04 22:23] johndmulhausen commented on #2587
@vieux Hmm, I can't repro this in my browser.

[2017-04-04 22:26] mstanleyjones commented on #1602
See https://docs.docker.com/compose/compose-file/#secrets

[2017-04-04 22:26] #1602 closed

[2017-04-04 22:27] johndmulhausen commented on #2551
Closing as this is not a docs issue; I've pinged others around here to see if they'd like to add a comment though. :)

[2017-04-04 22:27] #2551 closed

[2017-04-04 22:28] londoncalling opened #2625 "Open source contributor's guide: update or pare down"
### Problem description

- Open source contributor's guide in docs is out-of-date. We should bring these docs up to date or remove them.

### Problem location

https://docs.docker.com/opensource/
https://docs.docker.com/opensource/code/

### Related issues

Issue https://github.com/docker/docker.github.io/issues/205
Issue https://github.com/docker/docker.github.io/issues/218
Issue [moby/moby#35115

[2017-04-04 22:28] mstanleyjones commented on #1596
Can you please try with the instructions as currently published?

[2017-04-04 22:29] johndmulhausen commented on #2538
Hey, our glossary has diverged from the Engine at this point and it's not actually possible to cherry pick from one place to another. We will probably be deleting the Engine glossary at some point soon so things like this don't happen again.

[2017-04-04 22:29] #2538 closed

[2017-04-04 22:30] londoncalling commented on #225
@JimGalasyn This seemed like a good issue for you to track. Let me know if this makes sense for you to have, maybe double-check with @johndmulhausen

[2017-04-04 22:30] johndmulhausen commented on #2536
Fixed by @mstanleyjones in another PR

[2017-04-04 22:30] #2536 closed

[2017-04-04 22:33] mstanleyjones commented on #1569
@londoncalling I think you might have addressed this already.

[2017-04-04 22:33] johndmulhausen commented on #2528
@marcmerlin We'll have a look, but you should know that Docker 1.7 is *very old* and has not been supported for some time.

[2017-04-04 22:34] londoncalling commented on #357
Assigning `hackathon` label.

The goal for the Hackathon is to figure out if there is useful information we can add to the first pages the user mentions ([Test an insecure registry](https://docs.docker.com/registry/insecure/)) to make it more intuitive so that he could have gotten to the right place on his own.

[2017-04-04 22:41] johndmulhausen commented on #2512
Solvable if someone adds `none` after the triple backticks on the example

[2017-04-04 22:41] #1540 closed

[2017-04-04 22:43] mstanleyjones commented on #1539
The file in question is in the `docker/docker/` repo under `docs/reference/commandline/dockerd.md` so the pull request needs to be made there, not in this repo.

[2017-04-04 22:47] mstanleyjones commented on #1533
https://docs.docker.com/engine/reference/commandline/images/#filtering

It is back. :)

[2017-04-04 22:47] #1533 closed

[2017-04-04 22:48] #2496 closed

[2017-04-04 22:48] JimGalasyn commented on #2017
UI text should be bold.

[2017-04-04 22:50] riyazdf opened #2626 "carry Content Trust guide from ucp 2.0 to latest version"
### Problem description

We should have the UCP 2.0.x [Content Trust docs](https://docs.docker.com/datacenter/ucp/2.0/guides/content-trust) that detail signing policy carried forward to the latest docs location.

### Problem location

https://docs.docker.com/datacenter/ucp/2.0/guides/content-trust should also be on the "User Guides" section of latest UCP (ex: https://docs.docker.com/datacenter/ucp

[2017-04-04 22:50] mstanleyjones commented on #1530
@aaronlehmann did you mean to make a PR for this?

[2017-04-04 22:52] mstanleyjones commented on #1520
We may be able to explain it. This is not a Docker-specific concept. For now, there is a great explanation here: http://serverfault.com/questions/48582/how-is-memory-usage-reported-in-linux

[2017-04-04 22:53] mstanleyjones commented on #1517
@aaronlehmann did you intend to make a PR for this?

To the OP, please file an issue in the `docker/docker` repo about this.

[2017-04-04 22:53] JimGalasyn commented on #2009
lulz, that would do it.

[2017-04-04 22:53] #2009 closed

[2017-04-04 22:54] marcmerlin commented on #2528
Which version of docker is irrelevant, google brought me to that page for a query on command flags and then the link on that page was broken, so I reported it as requested by your site :)

[2017-04-04 22:54] mstanleyjones commented on #1502
404 in archive version.

[2017-04-04 22:55] johndmulhausen commented on #2469
Fixed in d59ed36cc1e90b1b7d60d8e2e7fa65118c03e62a

[2017-04-04 22:55] #2469 closed

[2017-04-04 22:57] mstanleyjones commented on #1494
This file is sourced from upstream and the fix needs to happen there.

[2017-04-04 23:00] johndmulhausen commented on #2451
Checksums have been added back; closing issue

[2017-04-04 23:00] #2451 closed

[2017-04-04 23:00] JimGalasyn commented on #1984
It appears that this issues has been fixed.

[2017-04-04 23:00] #1984 closed

[2017-04-04 23:01] mstanleyjones commented on #1481
1.  The extended examples are back.

2.  This could be improved.

3.  No longer an issue.

4.  I find some examples with --aux-address in them: https://docs.docker.com/engine/reference/commandline/network_create/#specify-advanced-options

5.  This could also be enhanced.

The file is in the `docker/docker` repo if anyone wants to tackle this.

[2017-04-04 23:02] mstanleyjones commented on #1477
https://docs.docker.com/engine/reference/commandline/service_create/#set-metadata-on-a-service--l---label is the correct link (see the extra `-`).

[2017-04-04 23:03] johndmulhausen commented on #2446
@mikeashbyseattle Please provide your repro steps and the commands you used.

[2017-04-04 23:05] mstanleyjones commented on #1464
See https://docs.docker.com/engine/reference/commandline/ps/#filtering

[2017-04-04 23:05] #1464 closed

[2017-04-04 23:06] mstanleyjones commented on #1463
See https://docs.docker.com/engine/reference/commandline/images/#filtering

[2017-04-04 23:06] #1463 closed

[2017-04-04 23:07] johndmulhausen commented on #2435
You're supposed to get the binaries from GitHub using the command there https://github.com/docker/compose/releases

The docs should make this more clear

[2017-04-04 23:07] mstanleyjones commented on #1456
This file is in the `docker/docker` repo and any changes need to happen there.

[2017-04-04 23:10] JimGalasyn commented on #1974
Duplicates #1973.

[2017-04-04 23:10] #1974 closed

[2017-04-04 23:12] mstanleyjones commented on #1430
This content is pulled directly from the `docker/distribution` repository and any changes should happen there.

[2017-04-04 23:12] #1430 closed

[2017-04-04 23:14] mstanleyjones commented on #1425
This is no longer the case. Thanks!

[2017-04-04 23:14] #1425 closed

[2017-04-04 23:15] JimGalasyn commented on #1943
It appears that this issue has been resolved.

[2017-04-04 23:15] #1943 closed

[2017-04-04 23:15] mstanleyjones commented on #1400
Here is the correct URL: https://docs.docker.com/engine/reference/builder/

Where did you find the link to the incorrect one?

[2017-04-04 23:16] mstanleyjones commented on #1390
This has been fixed.

[2017-04-04 23:16] #1390 closed

[2017-04-04 23:17] johndmulhausen commented on #2403
Likely to do with the JavaScript necessary to resize left side nav

[2017-04-04 23:18] mstanleyjones commented on #1389
We need more info. It sounds like you were having trouble with a specific compose file. Were you using one from an example in the docs?

[2017-04-04 23:18] friism commented on #2551
@znmeb free Docker Community Edition is available for infrastructure and operating systems that are themselves free and community-driven, for example Debian, Fedora and Ubuntu. For commercial operating systems like RHEL, SLES and Oracle Linux, commercial Docker Enterprise Edition is available.

[2017-04-04 23:19] mstanleyjones commented on #1383
I don't think Registry 2.6 has shipped in a Docker Engine version yet. @stevvooe can you confirm?

[2017-04-04 23:21] #1379 closed

[2017-04-04 23:22] mstanleyjones commented on #1374
@FrenchBen PTAL

[2017-04-04 23:24] mstanleyjones commented on #1361
These options are specific to the volume driver and would be in that volume driver's documentation, I believe. Am I missing something?

[2017-04-04 23:26] stevvooe commented on #1383
The registry ships independently, as far as I know. Looks like the release was tagged in https://github.com/docker/distribution/releases. We've shipped binaries here: https://hub.docker.com/_/registry/.

@dmp42 @andrewhsu What is the process for this going forward?

[2017-04-04 23:26] mstanleyjones commented on #1356
Not sure the policy on this.

[2017-04-04 23:27] johndmulhausen commented on #2393
Closing in favor of #2423

[2017-04-04 23:27] #2393 closed

[2017-04-04 23:27] mstanleyjones commented on #1355
The link works for me. It links to https://docs.docker.com/engine/userguide/storagedriver/imagesandcontainers/.

[2017-04-04 23:27] #1355 closed

[2017-04-04 23:27] johndmulhausen commented on #2390
Related: #2512

[2017-04-04 23:28] JimGalasyn commented on #1818
This issue appears to have been fixed, and the URL is forwarding correctly. Please let me know if you're still seeing this issue.

[2017-04-04 23:28] #1818 closed

[2017-04-04 23:29] mstanleyjones commented on #1350
This has been fixed.

[2017-04-04 23:29] #1350 closed

[2017-04-04 23:29] johndmulhausen commented on #2389
Fixed by some recent CSS fixes

[2017-04-04 23:29] #2389 closed

[2017-04-04 23:30] johndmulhausen commented on #2387
The docs for this API have been removed

[2017-04-04 23:30] #2387 closed

[2017-04-04 23:30] #1816 closed

[2017-04-04 23:30] mstanleyjones commented on #1349
I'm not sure how we feel about doing this. We do provide a lot of YAML examples in this file to show the structure of different parts of the file.

[2017-04-04 23:31] mstanleyjones commented on #1346
This has been fixed. :)

[2017-04-04 23:31] #1346 closed

[2017-04-04 23:31] mstanleyjones commented on #1343
This has been fixed. :)

[2017-04-04 23:31] #1343 closed

[2017-04-04 23:32] mstanleyjones commented on #1339
We did add this note.

[2017-04-04 23:32] #1339 closed

[2017-04-04 23:33] johndmulhausen commented on #2381
One workaround is to completely tear down the stack (`docker stack rm <stackname>`) and re-deploy it. Might also try stopping it first which is less destructive but I don't know if it works.

[2017-04-04 23:34] mstanleyjones commented on #1326
I believe we improved this a lot in the site re-design. There is quite a lot of difference now in the right-hand in-page TOC.

[2017-04-04 23:34] #1326 closed

[2017-04-04 23:36] johndmulhausen commented on #2373
Can't repro this; I think this might be fixed in the newest ReDoc version, which we're now using

[2017-04-04 23:36] #2373 closed

[2017-04-04 23:38] johndmulhausen commented on #2361
We'll be importing the official WordPress library readme soon; self-assigning for now

[2017-04-04 23:40] #2356 closed

[2017-04-04 23:41] johndmulhausen commented on #2345
This has been fixed with recent CSS updates. Thanks :)

[2017-04-04 23:41] #2345 closed

[2017-04-04 23:41] jsouth opened #2627 "Cleanup Items Round Dos"
### Round Dos
original task list for launch: https://github.com/docker/docker.github.io/issues/2052

- [x] Mobile type fixes for small devices (currently "samples" link busts at the seams and floats to secondary line on iphone 4 and other very small viewports)
- [x] Window Rescale leakage between 400-800px
- [x] No longer any difference between notes, warnings, info admonitions (all blockquotes ar

[2017-04-04 23:42] mstanleyjones commented on #1101
I'm not sure how we feel about this since these links change quite often right?

[2017-04-04 23:47] johndmulhausen commented on #2340
Insufficient repro provided; also Docker Hub's autobuild functionality has been replaced by Docker Cloud

[2017-04-04 23:47] #2340 closed

[2017-04-04 23:49] JimGalasyn commented on #1656
Dupe of #1670 .

[2017-04-04 23:49] #1656 closed

[2017-04-04 23:50] johndmulhausen commented on #2303
I don't think we can troubleshoot specific solution problems for you, sorry. In general the bug isn't making intuitive sense to me, since the port is open it would follow that its reachable.

[2017-04-04 23:50] #2303 closed

[2017-04-04 23:51] johndmulhausen commented on #2298
Assigning to self since getting started is getting replaced

[2017-04-04 23:54] johndmulhausen commented on #2277
It's more likely that we want to use tabs so this isn't quite so disruptive. We doc how to use tabs that auto-sync with each other in https://github.com/docker/docker.github.io#creating-tabs

[2017-04-04 23:55] johndmulhausen commented on #2277
See also Synchronizing Multiple Tab Groups: https://docs.docker.com/test/#tabs

[2017-04-04 23:57] johndmulhausen commented on #2274
Fixed to point to Store in a previous commit. Thanks!

[2017-04-04 23:57] #2274 closed

[2017-04-04 23:57] johndmulhausen commented on #2273
Sorry, this isn't technically feasible for us at this time.

[2017-04-04 23:57] #2273 closed

[2017-04-05 00:03] mstanleyjones commented on #928
There is no info in this bug. Please file a new issue with more details.

[2017-04-05 00:03] #928 closed

[2017-04-05 00:06] mstanleyjones commented on #890
This has been fixed.

[2017-04-05 00:06] #890 closed

[2017-04-05 00:11] johndmulhausen commented on #2254
It's built into every swarm, as mentioned. :)

[2017-04-05 00:11] #2254 closed

[2017-04-05 00:12] mstanleyjones commented on #803
This topic is about legacy standalone swarm, not swarm mode.

[2017-04-05 00:12] #803 closed

[2017-04-05 00:13] mstanleyjones commented on #800
I'm not sure what you mean... Can you give more info?

[2017-04-05 00:13] johndmulhausen commented on #2250
Duplicates #2251

[2017-04-05 00:13] #2250 closed

[2017-04-05 00:16] johndmulhausen commented on #1940
This API has been deprecated and the doc removed

[2017-04-05 00:16] #1940 closed

[2017-04-05 00:23] johndmulhausen commented on #2227
Closing as this is not a docs bug

[2017-04-05 00:23] #2227 closed

[2017-04-05 00:24] johndmulhausen commented on #1800
CLosing this oldie

[2017-04-05 00:24] #1800 closed

[2017-04-05 01:23] aaronlehmann commented on #1530
It's the first time I've seen this issue. The mention of my name above is because I have a fork of this repository, and it includes a commit by @joaofnfernandes that references this issue. It's a GitHub misfeature, IMHO. I generally avoid including issue numbers in commit messages because it pollutes the issue when other people push that commit to a fork.

[2017-04-05 01:24] aaronlehmann commented on #1517
See https://github.com/docker/docker.github.io/issues/1530#issuecomment-291701118

[2017-04-05 04:25] mbentley commented on #2373
Still happening for me.

1. Go to https://docs.docker.com/engine/api/v1.26/#tag/Swarm
2. Scroll down to `Inspect Swarm`.
3. Click the link that is presented
4. Get scrolled to the top

[2017-04-05 04:48] drorata commented on #2423
It worthy to also explain how to install the auto completion using MacPorts.

[2017-04-05 11:45] markvr opened #2630 "Publish ports on "localhost:8080""
File: [engine/swarm/services.md](https://docs.docker.com/engine/swarm/services/), CC @mstanleyjones

I've been trying the "routing mesh", and under "Publish Ports" the docs say you can try `curl localhost:8080`.

On my system at least, this just hangs, and I need to curl the network IP address.  I can't find much by googling if the routing mesh should work with localhost or not.  If this is someth

[2017-04-05 15:19] mstanleyjones commented on #1383
If the Registry files used by the `master` branch in the docs need to be pulled from a different branch, someone in that team should either raise a PR against our Dockerfile or raise a GH issue for us to do it. This time, this issue will suffice if someone can confirm that version 26 is correct.

[2017-04-05 16:18] ManoMarks opened #2634 "Formatting messed up with button on Docker for AWS release page"
File: [docker-for-aws/release-notes.md](https://docs.docker.com/docker-for-aws/release-notes/), CC @johndmulhausen
![screen shot 2017-04-05 at 9 17 29 am](https://cloud.githubusercontent.com/assets/113855/24715578/c074656e-19e0-11e7-8a26-40ec41de98d1.png)

[2017-04-05 17:11] gdennie commented on #2598
In the following, the **--volume** option in this description of the **run** command uses what I characterized as a **pseudo type signature** to clarify the requirements for the option.

[https://github.com/docker/docker/blob/17.03.x/docs/reference/commandline/run.md](https://github.com/docker/docker/blob/17.03.x/docs/reference/commandline/run.md)

[2017-04-05 17:20] gdennie commented on #2595
Simply put, the discussion appeared to lack a guiding principal. However, I am thinking that establishing such a thing may be premature.

In any event, a network may be considered something like a room that connected members inhabit and can talk to each other. Each is given a name/label by a tool call the DHCP. Also a designated member hangs by a window to allow occupants to talk to outsiders by r

[2017-04-05 17:25] martencassel opened #2637 "UCP architecture - a bit confusing UCP Worker/Manager/Nodes"
File: [datacenter/ucp/2.1/guides/architecture.md](https://docs.docker.com/datacenter/ucp/2.1/guides/architecture/), CC @joaofnfernandes

I feel that there is some confusing terminology in the ucp system architecture documentation
In the first diagram you say that its a UCP is a container based application running on top of docker engine which makes sense.
https://docs.docker.com/datacenter/ucp/2.1

[2017-04-05 17:31] aschauer commented on #2538
OK, to be clear, the fixes are in the Engine glossary, whereas the main one is "behind". IOW, if I had to pick one, I'd tend towards deleting the contents of the main glossary and keeping the contents of the Engine glossary. The Engine glossary includes additional terms (like the definition of bridge) and also has formatting fixes. FWIW, the Engine glossary is the #1 result of the google search "d

[2017-04-05 18:20] #1383 closed

[2017-04-05 19:01] thaJeztah commented on #2595
Ok, I think I see what you're thinking of; more describe the "concept" of networks (why would I use a custom networks), as an introduction, more "story telling"

I'm not sure we should bring DHCP in here, though; `docker networking` works a bit different then a regular network. Usually, a device is connected to a network, and asks for an IP address; the DHCP server hands it that IP address. Docker

[2017-04-05 19:27] bluepuma77 opened #2639 "Request | Networking: Add example to enable multiple IPs and restrict single port"
Restricting access to services on public accessible servers is important.

I would like to see some more details when running multiple servers with multiple services on each:

1. How to restrict access to multiple IPs?
Use case: database cluster where 3 servers connect to each other

2. How to restrict one service/port and leave others open?
Use case: one server with public web server and restrict

[2017-04-05 19:34] gdennie commented on #2595
Yes, I understood the behavior upon reflection but the description as it existed was not as clear as it could be. Thanks for your attention.

[2017-04-05 19:34] #2595 closed

[2017-04-05 20:48] londoncalling commented on #187
Closing this issue, as it's not been reproduced.

[2017-04-05 20:48] #187 closed

[2017-04-05 21:22] Syntaxide opened #2641 "Link to new page"
File: [engine/admin/registry_mirror.md](https://docs.docker.com/engine/admin/registry_mirror/), CC @mstanleyjones

The page at https://docs.docker.com/registry/recipes/mirror/ has up to date instructions. Either linking to this page, or making engine/admin/registry_mirror redirect to registry/recipes/mirror seems like a good idea.

[2017-04-05 22:04] briantd opened #2642 "docker system prune does not support use of the "--filter" option"
File: [engine/reference/commandline/system_prune.md](https://docs.docker.com/engine/reference/commandline/system_prune/), CC @mstanleyjones

It doesn't appear that the filter command provided in the example is actually accepted:
https://docs.docker.com/engine/reference/commandline/system_prune/#examples
[code]

[2017-04-05 22:34] mstanleyjones commented on #2642
What version of Docker do you have? I do not believe `--filter` was valid for this command until 17.03. @thaJeztah can confirm.

[2017-04-05 22:36] thaJeztah commented on #2642
Yes, looking, looks like a bad cherry-pick; the CLI fixups were against master, and the cherry-pick applied "cleanly", but pulled these changes in

[2017-04-05 22:37] thaJeztah commented on #2642
I suspect GitHub "randomly hiding diffs" made the changes in these files invisible https://github.com/docker/docker/pull/31242 😞

[2017-04-05 22:37] londoncalling commented on #218
### Hints for Hackathon

Let's test whether there is any problem with running the commands as mentioned in the first comment on this issue. And, at the same time, let's bring this topic up-to-date. The tasks are still valid, but some things have changed with Docker products since this was written.

1. Work through the procedures in the topic: [Work with a development container](url). (You will nee

[2017-04-05 22:57] revof11 opened #2643 "Mac OSX daemon.json Location"
File: [engine/reference/commandline/dockerd.md](https://docs.docker.com/engine/reference/commandline/dockerd/), CC @mstanleyjones

Missing the documentation for where `daemon.json` is on Mac OSX.

Default file location for a user appears to be:
`~/Library/Containers/com.docker.docker/Data/database/com.docker.driver.amd64-linux/etc/docker/daemon.json`

Currently all the file has in it is the follow

[2017-04-05 23:04] mstanleyjones commented on #2643
You shouldn't edit it directly. You should go to the whale in the taskbar > Preferences > Daemon > Advanced.

[2017-04-05 23:44] londoncalling commented on #590
@joaofnfernandes @mariaakiba This is the page referenced in the title of this issue: https://docs.docker.com/datacenter/ucp/1.1/installation/plan-production-install/.

I checked all the links on that page, and they work and go to the right topics. I'm going to close this for now. If you all think there is still an issue, feel free to re-open the issue and/or the discussion.

[2017-04-05 23:44] #590 closed

[2017-04-05 23:53] briantd commented on #2642
@mstanleyjones
~ $ docker version
Client:
 Version:      17.03.0-ee-1
 API version:  1.26
 Go version:   go1.7.5
 Git commit:   9094a76
 Built:        Fri Feb 24 19:01:49 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.0-ee-1
 API version:  1.26 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   9094a76
 Built:        Fri Feb 24 19:01:49 2017
 OS/Arch:      linux/amd64
 Exp

[2017-04-05 23:57] londoncalling commented on #671
### Related issues and PRs

#### Open

#1750

#### Closed

#1785 (lists several other issues), #1724 (lists several other issues), #1792

[2017-04-06 00:02] FrenchBen commented on #1374
@larryms What am I missing?
https://docs.docker.com/docker-for-azure/deploy/

[2017-04-06 00:06] londoncalling commented on #690
LGTM per the referenced PR ^^, and the current version of this topic does provide context and links to getting started on the left nav: https://docs.docker.com/engine/api/

[2017-04-06 00:06] #690 closed

[2017-04-06 00:12] mstanleyjones commented on #2642
We found the problem: https://github.com/docker/docker/pull/32390

This should be fixed soon!

[2017-04-06 00:14] briantd commented on #2642
Great -- that filter will be very useful!

[2017-04-06 00:26] #702 closed

[2017-04-06 00:29] londoncalling commented on #758
@mstanleyjones @immunda seems to bring up a good point. Should we remove this topic from the docs or not?

[2017-04-06 02:31] revof11 commented on #2643
That's fine if you have access to the UI and not just the shell.  The machine I was working to test things I only have SSH access to in order to validate the functionality.  Everything worked just fine when I edited it by hand.

[2017-04-06 02:54] gmsantos opened #2645 "404 at /engine/installation/linux/SUSE/"
URL: /engine/installation/linux/SUSE/

Is OpenSUSE not supported anymore in the recent versions of Docker?

I'm thinking to switch from Ubuntu to OpenSUSE, but without docker I will stay on ubuntu.

[2017-04-06 02:57] mrmowgli opened #2646 "No linux docker-machine support, doc needs example for Linux."
File: [engine/getstarted-voting-app/node-setup.md](https://docs.docker.com/engine/getstarted-voting-app/node-setup/), CC @mstanleyjones

Need linux version.

[2017-04-06 05:29] neildcruz opened #2647 "404 at /compose/samples/"
URL: /compose/samples/

[2017-04-06 05:58] gdevillele opened #2648 "remote API 1.27: incomplete documentation for network prune"
### Problem description

In the `network prune` section of the 1.27 remote API reference:
"Available filters:" is not followed by a list of filters.

### Problem location

https://docs.docker.com/engine/api/v1.27/#operation/NetworkPrune

<img width="645" alt="screen shot 2017-04-05 at 10 57 54 pm" src="https://cloud.githubusercontent.com/assets/939999/24739923/4f7e0432-1a53-11e7-80da-0c8c28e77160.

[2017-04-06 12:56] larryms commented on #1374
@FrenchBen looks like this issue was fixed at some point after I opened it.  Thanks anyway!

[2017-04-06 12:56] #1374 closed

[2017-04-06 14:18] thaJeztah commented on #1826
Hm, no, not sure I checked :blush:

[2017-04-06 14:20] binary10 opened #2651 "Page not linked from main sidebar"
File: [engine/understanding-docker.md](https://docs.docker.com/engine/understanding-docker/), CC @mstanleyjones

I found this doc very useful, however it's not linked in the main sidebar nav or from the main docs page. As a learner, I would've liked this introduction at the beginning of the "Get Started" section of the docs.

[2017-04-06 16:33] londoncalling commented on #1569
@SachsenCoder @mstanleyjones please check out the update per PR #2652 , I think this should cover it.

[2017-04-06 17:29] boistordu commented on #1389
Sorry I m traveling for now so I don't get always the time to test correctly. I will provide you with the launch line if you want but a compose file ?
There is only 3 files right? And so which file are you talking about? And what would be the point to combine several files from different container? I'm using the pull command anyway so it s highly doubtful

Get Outlook for iOS<https://aka.ms/o0ukef

[2017-04-06 17:58] johndmulhausen commented on #2645
@gmsantos https://docs.docker.com/engine/installation/linux/suse/ seems to be working for me. :)

[2017-04-06 17:58] #2645 closed

[2017-04-06 18:03] jsouth opened #2653 "Update dockercon banner"
- [x]  Update dockercon streaming banner

[2017-04-06 20:21] akopytov opened #2655 "Dead link on page"
File: [docker-for-mac/docker-toolbox.md](https://docs.docker.com/docker-for-mac/docker-toolbox/), CC @londoncalling

[How to uninstall Toolbox](https://docs.docker.com/toolbox/toolbox_install_mac.md#how-to-uninstall-toolbox) links to a non-existing page.

[2017-04-06 20:30] londoncalling commented on #1569
LGTM

[2017-04-06 20:40] londoncalling commented on #1569
LGTM

[2017-04-06 20:41] londoncalling commented on #1569
Thanks for the feedback @SachsenCoder.

This is now addressed per the above PR ^^, which I just merged.

[2017-04-06 20:41] #1569 closed

[2017-04-06 20:59] gmsantos commented on #2645
@johndmulhausen the docs for current version is quite different from the 1.13

https://docs.docker.com/v1.13/engine/installation/linux/suse/

It says that OpenSUSE is also supported. Also, there is no instructions to install CE edition.

I could submit a PR if you think the above points are relevant.

[2017-04-06 21:27] londoncalling commented on #1101
@browze @mstanleyjones Checksums are provided for Docker for Mac and Docker for Windows download links in the Docs per this PR: https://github.com/docker/docker.github.io/pull/2508

So far, we've not been adding them on Docker Store. Closing this issue for now. Let me and @nandhini know if you want these added to Docker Store.

cc: @FrenchBen @friism

[2017-04-06 21:27] #1101 closed

[2017-04-06 22:23] sarahpark commented on #2474
Scanning A:

<kbd>

![scanning-1](https://cloud.githubusercontent.com/assets/1562758/24777962/dd9562cc-1adc-11e7-9a3b-5e27dca91a3b.png)
</kbd>

[2017-04-06 22:56] londoncalling commented on #2655
@akopytov I'm not sure what you are seeing, but I checked the link and it's working properly both on the website docs at: https://docs.docker.com/docker-for-mac/docker-toolbox/#how-do-i-uninstall-docker-toolbox (the link goes to https://docs.docker.com/toolbox/toolbox_install_mac/#how-to-uninstall-toolbox) and from the GitHub page: https://github.com/londoncalling/docker.github.io/blob/master/dock

[2017-04-06 22:56] #2655 closed

[2017-04-07 00:05] londoncalling commented on #974
See #218 (and overview issue #2625)

[2017-04-07 00:41] ManoMarks opened #2659 "task 1 can be accomplished with docker system prune"
File: [opensource/project/set-up-dev-env.md](https://docs.docker.com/opensource/project/set-up-dev-env/), CC @johndmulhausen

[2017-04-07 00:58] ManoMarks opened #2660 "build number is wrong"
Is there a way to autopopulate the build number?
these 2 lines are out of date:
[code]

File: [opensource/project/set-up-dev-env.md](https://docs.docker.com/opensource/project/set-up-dev-env/), CC @johndmulhausen

[2017-04-07 01:52] johndmulhausen commented on #2645
The current list of supported distros, as far as CE/EE, is here: https://docs.docker.com/engine/installation/#platform-support-matrix

Yes, some things have changed. Thanks for the offer of a PR, but I'm afraid the docs are correct.

[2017-04-07 02:11] londoncalling commented on #777
### Hints for Hackathon

- The latest Kitematic app is available at: https://github.com/docker/kitematic/releases/
- We started the updates here: https://docs.docker.com/kitematic/userguide/ by updating the Overview content and the first image or two
- Suggest starting with [Creating a new container](https://docs.docker.com/kitematic/userguide/#creating-a-new-container) and working through the pro

[2017-04-07 02:29] jcbelanger opened #2665 "Mangled Markup"
ThFile: [docker-for-mac/install.md](https://docs.docker.com/docker-for-mac/install/), CC @londoncalling

The generated html on the docker website does not match github's.  [Screenshot](http://imgur.com/a/eT4Cl)

[2017-04-07 04:41] akopytov commented on #2655
It seems to be reproducible only with NoScript. When I disable it, [this link](https://docs.docker.com/toolbox/toolbox_install_mac.md#how-to-uninstall-toolbox) loads successfully. When I enable it back, I get  a 404 page ("Sorry, we can't find that page") after clicking that link.

[2017-04-07 08:18] carlvanschie opened #2675 "Splunk Logging Docs: splunk-source"
File: [engine/admin/logging/overview.md](https://docs.docker.com/engine/admin/logging/overview/), CC @mstanleyjones

It looks like splunk-source documentation is a little off as it looks like the splunk-token tag.

[2017-04-07 09:50] tzapu opened #2677 "auto redeploy page does not mention requirement for tags"
File: [docker-cloud/apps/auto-redeploy.md](https://docs.docker.com/docker-cloud/apps/auto-redeploy/), CC @londoncalling

This page should mention that auto redeploy only works for hub images with the *latest* tag
Cheers

[2017-04-07 12:58] londoncalling commented on #2655
Ok thanks, that's weird. I'll have another look today.

On Thu, Apr 6, 2017 at 9:41 PM Alexey Kopytov <notifications@github.com>
wrote:

[2017-04-07 14:53] psoares opened #2679 "group_add option doesn't work as described"
File: [compose/compose-file/index.md](https://docs.docker.com/compose/compose-file/#groupadd), CC @londoncalling

The group_add option is described as being a second level property, right under "services". This option doesn't work. Please note I also tried to put it nested under a service, and it didn't work either, so for now I don't really know what the documentation should read.

See my comment

[2017-04-07 15:26] JimGalasyn commented on #1385
Thank you for the feedback! In fact, they should be in a code block, and this has been fixed: https://docs.docker.com/compose/compose-file/#updateconfig .

[2017-04-07 15:26] #1385 closed

[2017-04-07 17:23] londoncalling commented on #2679
@dnephin @shin- @nathanleclaire @ManoMarks Can you all take a look at the above comment, and also the referenced issue [#3328](https://github.com/docker/compose/issues/3328). It sounds like from the discussions that `group_add` is not working in Compose?

[2017-04-07 17:34] londoncalling commented on #988
@nathanleclaire can you give us some guidance on how to fully uninstall Kitematic? This question has come up a few times.

I had written this "uninstall Toolbox" topic: https://docs.docker.com/toolbox/toolbox_install_mac/#how-to-uninstall-toolbox, but not anything specific about Kitematic right now.

[2017-04-07 17:35] friism commented on #1356
@matthughes thanks for opening this issue. Quoting from [here](https://github.com/docker/for-mac/issues/1120#issuecomment-277774579):

[2017-04-07 17:41] londoncalling commented on #1356
@friism thanks for the clarification, closing this issue for now

[2017-04-07 17:41] #1356 closed

[2017-04-07 18:44] mstanleyjones commented on #2655
The reason why is because it is an `<a>` link to a `.md` file. Either change it to a Markdown link or change the href to what the real link will end up being, without the `.md` extension.

[2017-04-07 18:48] mstanleyjones commented on #2655
The root cause may not be in our Markdown at all. There is some Javascript that turns `.md` links into the real places.  cc/ @johndmulhausen who knows more about this. I can't actually find a problematic link.

[2017-04-07 18:50] shin- commented on #2679
`group_add` works fine in Compose, but that example snippet is indeed wrong. It should be something like:

[code]

[2017-04-07 18:56] londoncalling commented on #2655
@mstanleyjones @akopytov Just to clarify, the link in question is formatted as markdown (not an `<a href>`):

[code]
And does require a Javascript enabled browser to resolve properly.

@akopytov we format these links as markdown so that they will work across GitHub files. The links require Javascript when they are served up on web pages to render as HTML.

[2017-04-07 18:59] shin- commented on #2679
@londoncalling If you're working on this change, it might be a good occasion to remove `group_add` from the v3 docs as well, since it's only a valid option in v2.

[2017-04-07 18:59] akopytov commented on #2655
@londoncalling thanks for clarifications. Whitelisting docs.docker.com for NoScript is a feasible workaround for me.

[2017-04-07 19:00] mstanleyjones commented on #785
The file already has this:

[code]

I think that is adequate. If you disagree, please file a bug in the `docker/docker` repository, where the source code that generates this text resides.

[2017-04-07 19:00] #785 closed

[2017-04-07 19:02] londoncalling commented on #2679
@shin- oh!? okay, thanks

[2017-04-07 19:11] londoncalling commented on #2679
@shin- on issue [#3328](https://github.com/docker/compose/issues/3328) psoare's seems to have tried this format as a [second try](https://github.com/docker/compose/issues/3328#issuecomment-292347600) and says it didn't work ...?

[2017-04-07 19:25] psoares commented on #2679
I confirm this works on version 2 and not on version 3.

[2017-04-07 19:44] JimGalasyn commented on #2647
Fixed at https://docs.docker.com/compose/compose-file/.

[2017-04-07 19:44] #2647 closed

[2017-04-07 20:32] johndmulhausen commented on #2665
No repro at the moment. Thanks for letting us know though!

[2017-04-07 20:32] #2665 closed

[2017-04-07 20:33] johndmulhausen commented on #2660
We could have a _config.yml variable that had the build number in it and use it here.

[2017-04-07 21:31] londoncalling commented on #2679
@psoares thanks for the feedback, the docs updates are published now, so I'm going to close this issue. Feel free to re-open the discussion or a new issue if you find something else.
-  [`group_add` example](https://docs.docker.com/compose/compose-file/compose-file-v2/#groupadd) should be correct now for Compose v2
- it's been removed from [Compose v3](https://docs.docker.com/compose/compose-file/

[2017-04-07 21:31] #2679 closed

[2017-04-07 21:38] ManoMarks commented on #2660
That would work

[2017-04-07 22:30] antkazam opened #2686 "`--exit-code-from SERVICE` is not available in the latest Docker for Mac."
File: [compose/reference/up.md](https://docs.docker.com/compose/reference/up/), CC @londoncalling

I am trying to run `docker-compose up --exit-code-from <service>` but it is apparently not a valid CLI option.

I am using `Version 17.03.1-ce-mac5 (16048)`

[2017-04-07 23:06] johndmulhausen opened #2687 "keywords in upstream files are incorrectly formatted"
https://docs.docker.com/metadata.txt

Do a CMD+F search for `"keywords":["`

Any results you see here show that the keywords in these files are coming in as arrays. This shouldn't happen.

Bad front-matter:

[code]

Good front-matter:

[code]

[2017-04-08 22:11] arun-gupta opened #2690 "Incorrect link to Docker Toolbox"
Link to `Docker Toolbox` at https://www.docker.com/docker-mac refers to https://docs.docker.com/compose/reference/overview/.

This should instead be to https://www.docker.com/products/docker-toolbox.

[2017-04-09 02:54] gdennie opened #2691 "Searchability is problematic"
File: [engine/reference/builder.md](https://docs.docker.com/engine/reference/builder/), CC @mstanleyjones

The site's resident search is limited. Recently tried searching for the term, entrypoint, and was disappointed at the weirdness. Perhaps your site needs a search-able glossary to hold all its concepts in one place.

[2017-04-09 12:59] phipsgabler opened #2692 "Top of page becomes white with certain screen sizes in portrait orientation"
(This seems to be a global CSS problem.)

I happen to use 1024x1280 displays in portrait mode. There is a certain width range my screen falls in, in which the top of the page consists of a huge white area, and stuff seems to be missing (with Firefox' responsive design mode, this occurs between 990 px and 1024 px):

![empty](https://cloud.githubusercontent.com/assets/7878215/24837331/5ac194e4-1d32-

[2017-04-09 15:37] mstanleyjones commented on #2691
The very first search result I get from https://docs.docker.com/search/?q=entrypoint is https://www.google.com/url?q=https://docs.docker.com/engine/reference/builder/, which seems to be the right one. The second and third results, which are both on forums.docker.com, also seem to be high quality results. If you want to narrow it down to only docs.docker.com content, you can click the "Docs" tab in

[2017-04-09 15:39] #2651 closed

[2017-04-09 18:41] you-think-you-are-special opened #2693 "404 at /reference/api/docker_remote_api_v1.16/"
URL: /reference/api/docker_remote_api_v1.16/

[2017-04-09 19:05] niclic opened #2694 "Problems running aufs w/ linux-aws kernel"
### Problem description

Installing Docker on **Ubuntu 16.04 LTS** with the [`linux-aws`](https://insights.ubuntu.com/2017/04/05/ubuntu-on-aws-gets-serious-performance-boost-with-aws-tuned-kernel/) kernel package fails because there is no corresponding `linux-image-extra-$(uname -r)` package for this kernel.

[code]

[code]

[code]

This is similar to an issue described in https://github.com/docke

[2017-04-09 23:35] gdennie commented on #2691
The search results brings up the article and not the definition or synopsis.

________________________________
From: Misty Stanley-Jones <notifications@github.com>
Sent: Sunday, April 9, 2017 11:37:14 AM
To: docker/docker.github.io
Cc: George; Author
Subject: Re: [docker/docker.github.io] Searchability is problematic (#2691)

The very first search result I get from https://docs.docker.com/search/?

[2017-04-10 09:41] scjane opened #2701 "Incomplete cell"
File: [datacenter/ucp/2.1/guides/admin/monitor-and-troubleshoot/troubleshoot-node-messages.md](https://docs.docker.com/datacenter/ucp/2.1/guides/admin/monitor-and-troubleshoot/troubleshoot-node-messages/), CC @joaofnfernandes

It seems that the beginning cell "The ucp-agent task is" in the second row is incomplete.

[2017-04-10 11:27] cjh84 opened #2704 "Typo in TOC"
File: [reference.md](https://docs.docker.com/reference/), CC @johndmulhausen

https://github.com/docker/docker.github.io/blob/get-started/_data/toc.yaml#L667 should say docker plugin create.

[2017-04-10 13:46] enricforn opened #2706 "docker-cloud windows install fails"
File: [docker-cloud/docker-errors-faq.md](https://docs.docker.com/docker-cloud/docker-errors-faq/), CC @londoncalling

Should be interesting add the following known issue https://github.com/docker/dockercloud-cli/issues/45

[2017-04-10 16:53] JustDerb opened #2707 ""Customize the docker0 bridge" does not specify where to change the command line arguments"
This doc tells me about the options to configure at startup, but fails to tell me **where** I should make these changes.

File: [engine/userguide/networking/default_network/custom-docker0.md](https://docs.docker.com/engine/userguide/networking/default_network/custom-docker0/), CC @mstanleyjones

[2017-04-10 16:53] mstanleyjones opened #2708 "Feature request: show glossary term on search page"
### Problem description

If someone searches for a term we have a definition for, it would be cool to show the definition on the search page, maybe right above the search results themselves (since we  can't put it into the search results themselves).

We already have YAML for the glossary, so I think we could do this by saving a `glossary.json` when we build the site (similar to how I generate the

[2017-04-10 16:58] joaofnfernandes commented on #2606
My PR #2581 tries to add some of that information to the [Get Docker](https://docs.docker.com/engine/installation/#time-based-release-schedule) page, but maybe the right place to put that info is on the /enterprise page?

[2017-04-10 17:00] JimGalasyn opened #2709 "Document multi-architecture support and how to tag images to make it work"
Docker Engine will pull the image that's appropriate for the host that's pulling the image, based on tags. We should have a topic showing how to tag images so this happens transparently.

cf. [Microsoft Azure Container Registry Manages Docker Images](http://www.eweek.com/cloud/microsoft-azure-container-registry-manages-docker-images)

[2017-04-10 17:55] joaofnfernandes commented on #2563
If we standardize on specific colors (info/note is always blue, warning is always red) we'll have some consistency so we won't need to start the block quote with `**note**` or `**warning**`. We can do something like the bootstrap docs (see screenshot in my first comment), where they start the note with a title.

Here's a PR to get the ball rolling #2710. [Check the staged demo](https://deploy-prev

[2017-04-10 18:11] joaofnfernandes commented on #2637
We can definitely improve that article, but here's a lightweight explanation to clarify things a bit

* `Node` is physical or virtual machine that is running Docker. In this case Docker CS Engine. The diagram needs to be updated to say Docker Enterprise Edition instead of CS Engine.
* `Swarm` is a collection of `nodes` that are in the same Docker swarm. These machines form a cluster
* Nodes that a

[2017-04-10 18:22] londoncalling commented on #2665
@jcbelanger thanks!!! Yes, that happened last week, and I fixed it as fast as I could after I realized the problem. Appreciate the feedback!

[2017-04-10 18:27] londoncalling commented on #2686
@shin- @dnephin @nathanleclaire @ManoMarks Can you all have a look at this?

[2017-04-10 18:31] shin- commented on #2686
You need Compose 1.12.0 which is bundled with 17.04.0-ce. Try updating
Docker for Mac.

On Mon, Apr 10, 2017, 11:27 AM Victoria Bialas <notifications@github.com>
wrote:

[2017-04-10 19:51] johndmulhausen commented on #2691
@gdennie You'll be happy to know we're working on it: https://github.com/docker/docker.github.io/pull/1387/files#diff-8fd00abf6369bddcce9b428356326a1aR13

[2017-04-10 20:19] joaofnfernandes commented on #2626
For the latest releases of UCP and DTR we revamped these articles, so while the content exists it is now spread across multiple places.

* [Run only images you trust](https://docs.docker.com/datacenter/ucp/2.1/guides/admin/configure/run-only-the-images-you-trust/)
* [Configure your Docker engine](https://docs.docker.com/datacenter/dtr/2.2/guides/user/access-dtr/)
* [Configure your Notary client](h

[2017-04-10 20:19] #2626 closed

[2017-04-10 20:22] joaofnfernandes commented on #2604
Would a diagram [like this ](https://docs.docker.com/images/ddc_aws.svg) be enough to help you understand what is being deployed with a cloud template?

[2017-04-10 20:55] cirocosta commented on #2604
hey @joaofnfernandes , not really, for the overview of the services used there's already the CloudFormation template. I'd just want to have some more insights into the roadmap and know more about the magic under the hood of the docker4x containers .. or eventually at least know if someday they plan to opensource it, for instance .. this kinds of things

[2017-04-10 21:10] joaofnfernandes commented on #2604
Maybe @friism can answer here, but this seems out of scope for the docs.

[2017-04-10 21:10] artsf opened #2715 "Documentation: unclear how verification is happening"
There is a lack of documentation (section) which describes in details how signature verification is happening and where.

It, probably, should mention:

1. Metadata containing signature and public key of signing file;
2. Initial verification happening in Notary;
3. If verification in notary doesn't succeed then image is NOT loaded;
4. If initial verification succeeds then the image is loaded and v

[2017-04-10 21:11] artsf opened #2716 "Documentation: it is unclear where image is signed originaly"
Neither the architecture doc, not TUF make it clear that image is signed on originating machine, NOT in notary server.

Moved from: https://github.com/docker/notary/issues/1131

[2017-04-10 21:23] gdennie opened #2717 ""Volumes are initialized when a container is created." ?"
File: [engine/tutorials/dockervolumes.md](https://docs.docker.com/engine/tutorials/dockervolumes/), CC @mstanleyjones

I am presuming data volumes are not reinitialized if they already exist. Since this feature is tied into the `docker run [--rm] -v ..." command, its presence in the discussion there is essential.

[2017-04-10 21:50] cirocosta commented on #2604
@joaofnfernandes got it 😁
about `docker4x`, is it possible to at least at some high-level document what goes on in those containers? i suppose it's different based on the platform (azure, aws ...).

@joaofnfernandes , btw, the docs overall is getting preeetty good, great work from the team that's putting effort on that!

[2017-04-10 21:54] joaofnfernandes commented on #1701
This information is now at https://docs.docker.com/datacenter/dtr/2.2/guides/admin/configure/external-storage/

[2017-04-10 21:54] #1701 closed

[2017-04-10 21:56] joaofnfernandes commented on #1733
Most of the issues here where addressed, so this is no longer a P0

[2017-04-10 23:41] mstanleyjones opened #2719 "Add glossary entry for ENTRYPOINT"
### Problem description

Add a glossary entry for ENTRYPOINT and explain how it relates to CMD in a Dockerfile

### Problem location

glossary.md

[2017-04-10 23:43] joaofnfernandes opened #2720 "Version selector points to broken links if you're seeing the edge docs"
![example](https://cloud.githubusercontent.com/assets/1525937/24886879/bb5082b8-1e0c-11e7-909c-ba8bcc9781ae.gif)

[2017-04-11 00:07] joaofnfernandes commented on #2626
It looks like #2656 had already tried to address this, so I'll take a look and check if we should revert it.

[2017-04-11 00:27] #2708 closed

[2017-04-11 01:30] Hugh---- opened #2724 "Add info about HTTPS_PROXY"
### Problem description

### Problem location

- I have got a question on the following URL: https://github.com/docker/docker.github.io/blob/master/engine/admin/systemd.md

- Description: In the above URL, it explained how to set HTTP_PROXY environment variable for Docker in systemd. How about HTTPS_PROXY? Will docker identify it if I set it after HTTP_PROXY?

[2017-04-11 01:49] #2691 closed

[2017-04-11 01:49] #2719 closed

[2017-04-11 14:58] JimGalasyn commented on #2704
Verified fixed at https://docs.docker.com/engine/reference/commandline/plugin/.

[2017-04-11 14:58] #2704 closed

[2017-04-11 16:24] friism commented on #2604
I agree it would be good to document - I put it on my backlog. Also cc'ing @FrenchBen in case he has time.

[2017-04-11 16:36] cjh84 commented on #2704
Thanks Jim!

[2017-04-11 17:28] joaofnfernandes commented on #2716
My understanding [from the spec](https://github.com/theupdateframework/tuf/blob/develop/docs/tuf-spec.txt) is that there several keys at play when you sign an image:
* Root
* Targets
* Snapshot
* Timestamp

The root and target keys are always offline in your machine. The timestamp key is always managed by the Notary server.

The snapshot key depends. By default it's also offline, but you can confi

[2017-04-11 17:31] joaofnfernandes opened #2730 "Some pages are wider than the viewport size"
Mac osx 13", Chrome 1280x620

In this case the right menu is half hidden

![screen shot 2017-04-11 at 10 20 02](https://cloud.githubusercontent.com/assets/1525937/24922074/dbe7e224-1ea1-11e7-8434-434e5c05c8c7.png)

In this case the right sidebar totally disappears
![screen shot 2017-04-11 at 10 34 41](https://cloud.githubusercontent.com/assets/1525937/24922264/9ac78dc0-1ea2-11e7-9ebd-c4c0188eb857.

[2017-04-11 17:32] joaofnfernandes commented on #2627
Some pages are overflowing the viewport. Check #2730

[2017-04-11 17:46] artsf commented on #2716
"offline" and "in your machine" sounds different to me :)

[2017-04-11 17:54] joaofnfernandes commented on #1689
Solved

[2017-04-11 17:54] #1689 closed

[2017-04-11 18:07] joaofnfernandes commented on #1768
This is kind of what the `docker/dtr backup` command does, so maybe it would make sense to extend that command to include this behavior.
I'm closing this docs issue since there's nothing to do here.

[2017-04-11 18:07] #1768 closed

[2017-04-11 18:10] joaofnfernandes commented on #1758
Then, there's nothing to do in the docs. Closing this issue.

[2017-04-11 18:10] #1758 closed

[2017-04-11 18:19] joaofnfernandes commented on #1754
Solved.

[2017-04-11 18:19] #1754 closed

[2017-04-11 18:19] joaofnfernandes commented on #1753
Solved.

[2017-04-11 18:19] #1753 closed

[2017-04-11 18:22] joaofnfernandes commented on #1750
This seems to be mostly solved by now.

[2017-04-11 18:22] #1750 closed

[2017-04-11 18:23] joaofnfernandes commented on #1698
Already addressed by https://docs.docker.com/datacenter/dtr/2.2/guides/user/access-dtr/

[2017-04-11 18:23] #1698 closed

[2017-04-11 18:26] joaofnfernandes commented on #2149
Fixed.

[2017-04-11 18:26] #2149 closed

[2017-04-11 18:30] joaofnfernandes commented on #1704
This has been addressed by now.

[2017-04-11 18:30] #1704 closed

[2017-04-11 18:44] joaofnfernandes commented on #1720
This has been mostly addressed by now.

[2017-04-11 18:44] #1720 closed

[2017-04-11 18:50] joaofnfernandes commented on #1584
fixed

[2017-04-11 18:50] #1584 closed

[2017-04-11 18:50] johndmulhausen commented on #2390
The solution is to change the triple backticks around the coding blocks so that they have the `none` label directly afterwards, e.g.

[code]

[2017-04-11 18:51] mstanleyjones commented on #2558
Docker does not support overlayfs on RHEL / CentOS, and we cannot document unsupported configurations. These distributions are supported on device-mapper: https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/#configure-docker-with-devicemapper

[2017-04-11 18:51] #2558 closed

[2017-04-11 18:52] joaofnfernandes commented on #1167
Fixed

[2017-04-11 18:52] #1167 closed

[2017-04-11 18:54] mstanleyjones commented on #2225
This is tricky because people don't consume the docs from top to bottom in the left-hand nav. If you feel like it's useful to link to the glossary definition of `swarm` here, that is fine.

[2017-04-11 18:56] joaofnfernandes commented on #898
fixed

[2017-04-11 18:56] #898 closed

[2017-04-11 18:58] joaofnfernandes commented on #903
fixed

[2017-04-11 18:58] #903 closed

[2017-04-11 18:58] johndmulhausen commented on #1559
The solution is to change the triple backticks around the coding blocks so that they have the `none` label directly afterwards, e.g.

[code]

[2017-04-11 18:58] mstanleyjones commented on #2132
@cpuguy83 WDYT? We decided to only have it be the latest, I thought.

This can't be for the hackathon as these directories are not browseable without access to the S3 buckets themselves.

[2017-04-11 18:59] joaofnfernandes commented on #894
This is mostly addressed

[2017-04-11 18:59] #894 closed

[2017-04-11 19:01] joaofnfernandes commented on #815
I think this has mostly been fixed

[2017-04-11 19:01] #815 closed

[2017-04-11 19:01] mstanleyjones commented on #2115
This should be throughout the doc set.

[2017-04-11 19:03] londoncalling commented on #2435
### Hackathon Hints

Update the Compose install doc to make it flow better, and to clarify that:

- Docker for Mac, Docker for Windows, _and_ Docker Toolbox (the only one mentioned in step 2) installs Compose as part of those suites (along with Docker Engine and Docker Machine).

- Integrate the comments above ^^ from @johndmulhausen and @wotanii

This is really an update of the doc to incorporate

[2017-04-11 19:04] mstanleyjones commented on #2067
This will require looking at the `docker/docker` code to figure out what the code actually says.

[2017-04-11 19:06] joaofnfernandes commented on #897
fixed

[2017-04-11 19:06] #897 closed

[2017-04-11 19:06] mstanleyjones commented on #2065
The feature is only available in Docker 17.04, which is an Edge release. See the same document in the `/edge/` directory: https://docs.docker.com/edge/engine/reference/commandline/swarm_join/

[2017-04-11 19:09] mstanleyjones commented on #2113
Use absolute links rather than relative.

[2017-04-11 19:13] mstanleyjones commented on #2109
That's not true in every Linux distribution. It's better to tell people to install it, just in case they need to.

[2017-04-11 19:17] mstanleyjones commented on #2512
Change the syntax highlighting hint to `none`.

[2017-04-11 19:19] joaofnfernandes commented on #2478
It depends on the driver you're using. If you're using Virtualbox, the flag is `--virtualbox-boot2docker-url`.

[2017-04-11 19:20] londoncalling commented on #1809
### Hackathon Hints

- Please ignore the comments ^^ regarding the Compose file (https://docs.docker.com/compose/compose-file/#networks), which is up-to-date. (Any references to version 2 are in that file are valid as they describe features available in "version 2 and up.)

- Please update the code / config file examples in the file https://docs.docker.com/compose/networking/ from `version 2` to `

[2017-04-11 19:23] londoncalling commented on #1678
### Hackathon Hings

See also issue #2435 and maybe work together with whomever works on that issue, or try both!

[2017-04-11 19:27] joaofnfernandes commented on #1312
There's an explanation at docker/docker#32180, but we need to also make this clear in compose

[2017-04-11 19:30] mstanleyjones commented on #1641
It's there now. :) https://docs.docker.com/compose/compose-file/#secrets

[2017-04-11 19:30] #1641 closed

[2017-04-11 19:35] mstanleyjones commented on #2192
You can use graphics from https://success.docker.com/Architecture/Docker_Reference_Architecture%3A_Designing_Scalable%2C_Portable_Docker_Container_Networks :)

[2017-04-11 19:52] londoncalling commented on #2690
@arun-gupta thanks! This is fixed now: https://www.docker.com/docker-mac

cc: @jsouth

[2017-04-11 19:52] #2690 closed

[2017-04-11 20:52] endophage commented on #2716
I've used "semi-online" to describe the targets key in presentations. The root key should truly be offline, stored on some kind of media in a safe, not on your machine.

[2017-04-11 21:37] arvenil commented on #2065
@mstanleyjones Now I don't see this option in any doc, not in current or edge

[2017-04-11 21:38] arvenil commented on #2065
@mstanleyjones Now I don't see this option in any doc, not in current or edge

![docker_swarm_join_-_docker_ce_edge_documentation](https://cloud.githubusercontent.com/assets/450355/24932024/f402fb3c-1f0f-11e7-89f0-19ff793498dd.png)

[2017-04-11 22:13] johndmulhausen opened #2732 "Add different types of volumes to the glossary"
Some source material: https://success.docker.com/KBase/Different_Types_of_Volumes

Don't add these as separate entries, just expand on what's in the existing entry for volumes

[2017-04-12 00:53] joaofnfernandes opened #2733 "Is the aufs graph driver production-ready or not?"
* [This article tells that aufs if production-ready](https://docs.docker.com/engine/userguide/storagedriver/selectadriver/#future-proofing)
* [This article tells that aufs is very stable](https://docs.docker.com/engine/userguide/storagedriver/aufs-driver/)
* [And this tells me that aufs might crash my kernel](https://docs.docker.com/engine/reference/commandline/dockerd/#daemon-storage-driver-optio

[2017-04-12 00:55] johndmulhausen opened #2734 "Add "Datacenter" to the glossary"
Source: https://success.docker.com/Datacenter

[2017-04-12 01:04] joaofnfernandes opened #2735 "Add snippets for Windows where commands differ"
File: [engine/reference/commandline/run.md](https://docs.docker.com/engine/reference/commandline/run/),

Right now the reference docs rely a lot on Linux commands. We should provide equivalent commands for Windows where those commands are different.

[2017-04-12 04:10] KathiresanRamkumar95 opened #2739 "404 at /reference/commandline/cli/"
URL: /reference/commandline/cli/

[2017-04-12 07:43] TLDay opened #2741 "navbar problem"
### Problem description

Hi, Seems the navbar of guide is wrong. All navbar(guide, manual) are now 'glossary'.And when I click "Product Manual", 'Glossary' in tabs is also actived. They were correct yesterday. Sorry of my poor english. I'm not a native speaker.😅

### Problem location

https://docs.docker.com/

### Project version(s) affected

online version

### Suggestions for a fix

I'm not sure

[2017-04-12 09:20] johndmulhausen commented on #2739
The correct URL is /engine/reference/commandline/cli/ is a thing. Where does this link occur, @KathiresanRamkumar95 ?

[2017-04-12 09:48] #2741 closed

[2017-04-12 13:09] olleolleolle commented on #2430
The URL could be updated to an existing branch:

`https://github.com/docker/docker/blob/17.05.x/daemon/logger/loginfo.go`

[2017-04-12 14:02] cpuguy83 commented on #2132
Seems a bit excessive to me.

[2017-04-12 14:11] jsouth commented on #2730
Confirmed issue and is currently on the master list : on it :)

[2017-04-12 14:56] yongshin opened #2744 "Offline EE install"
Some customers need to install EE offline and need to figure out how to copy the bits over from the EE repo link. I don't know the exact steps, but I've already been asked several times for this and it would be helpful to have this posted somewhere.

File: [engine/installation/index.md](https://docs.docker.com/engine/installation/), CC @mstanleyjones

[2017-04-12 15:14] mstanleyjones commented on #2132
Can @andrewhsu work his magic and make the buckets browseable?

[2017-04-12 16:31] mstanleyjones commented on #2744
Do you mean something different from these:

https://docs.docker.com/engine/installation/linux/ubuntu/#install-from-a-package
https://docs.docker.com/engine/installation/linux/rhel/#install-from-a-package
https://docs.docker.com/engine/installation/linux/centos/#install-from-a-package
https://docs.docker.com/engine/installation/linux/oracle/#install-from-a-package
https://docs.docker.com/engine/in

[2017-04-12 16:59] yongshin commented on #2744
Ahh thanks that helps. Thanks, will close this.

[2017-04-12 16:59] #2744 closed

[2017-04-12 17:40] mstanleyjones commented on #2735
This probably should be raised in `/docker/docker` instead, as that is where the source files live.

[2017-04-12 17:43] mstanleyjones commented on #2724
Yes, it works just the same. This is not Docker-specific.

[2017-04-12 19:43] martinadolfi opened #2748 "example is not using defined user"
File: [compose/wordpress.md](https://docs.docker.com/compose/wordpress/), CC @londoncalling
I've been testing this example, and this compose example makes wordpress log in to mysql using the root user instead of the "wordpress" user defined in the database.... I'm almost sure ;)

[2017-04-12 20:05] mstanleyjones commented on #2693
You can get to this (very old) version of the API using this link: https://docs.docker.com/v1.10/engine/reference/api/docker_remote_api_v1.16/

Where did you see the broken link? Our current docs contain no references to it, nor do the archives for v1.13, v1.12, or v1.11, so I can't find where it is coming up as broken.

I'm going to close this for now, but feel free to re-open if the broken link

[2017-04-12 20:05] #2693 closed

[2017-04-12 20:07] mstanleyjones commented on #2739
Duplicate of #2432.

[2017-04-12 20:07] #2739 closed

[2017-04-12 20:19] glarrain opened #2750 "CLI docker-cloud does not work on Python 3"
CLI `docker-cloud` does not work on Python 3, as reported in https://github.com/docker/dockercloud-cli/issues/21, but in this page  it is implicitly stated that Python 2 and 3 are supported.

File: [docker-cloud/getting-started/deploy-app/2_set_up.md](https://docs.docker.com/docker-cloud/getting-started/deploy-app/2_set_up/), CC @londoncalling

[2017-04-12 20:20] mstanleyjones commented on #2534
It's not removed, it's deprecated: https://github.com/docker/docker/blob/master/cli/command/registry/login.go#L44

We generate the reference file you are seeing straight from the code, and we do not filter out deprecated flags. Maybe this is possible, but that would need to be a feature request in `docker/docker`. Thanks!

[2017-04-12 20:20] #2534 closed

[2017-04-12 20:26] mbentley opened #2751 "Code blocks showing and not being parsed correctly in multiple locations"
File: [engine/userguide/storagedriver/device-mapper-driver.md](https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/), CC @mstanleyjones

![screenshot 2017-04-12 at 4 26 06 pm](https://cloud.githubusercontent.com/assets/414445/24977908/c3240ff0-1f9c-11e7-8f7c-a72df194fb79.png)

[2017-04-12 20:59] briantd opened #2753 "Please add a condition for "Unhealthy UCP Controller: Docker Swarm Cluster: Local node <ip> has status Pending"
File: [datacenter/ucp/2.1/guides/admin/monitor-and-troubleshoot/troubleshoot-node-messages.md](https://docs.docker.com/datacenter/ucp/2.1/guides/admin/monitor-and-troubleshoot/troubleshoot-node-messages/), CC @joaofnfernandes

[2017-04-12 21:14] londoncalling commented on #2748
### Hackathon Hints

Please test the code sample for @martinadolfi 's comment, and if correct, identify how to update the sample. If it's something you can change simply by changing how it's documented, then do so. Otherwise, suggest a change to the code if possible.

[2017-04-12 21:58] mstanleyjones opened #2754 "Document service rollback"
### Problem description

Document service rollback feature https://github.com/docker/docker/pull/31108

### Project version(s) affected

This feature is in 17.04.x and will be stable with 17.06.

[2017-04-12 22:08] mstanleyjones opened #2755 "Create list of new features for 17.05"
### Problem description

Look through the following queries to pick out noteworthy features for 17.05 and add them to the edge doc:

- https://github.com/docker/docker/pulls?q=is%3Apr+milestone%3A17.05.0+is%3Aclosed+label%3Aimpact%2Fchangelog
- https://github.com/docker/docker/pulls?q=is%3Apr+milestone%3A17.05.0+is%3Aclosed+label%3Aimpact%2Fapi
- https://github.com/docker/docker/pulls?q=is%3Apr+mi

[2017-04-12 23:30] gabzillah commented on #2407
Can I claim this for the hackathon? Thanks

[2017-04-12 23:43] pmerson commented on #2407
Yes, you can.  :^)

On Apr 12, 2017 20:30, "Gabby" <notifications@github.com> wrote:

Can I claim this for the hackathon? Thanks

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/docker/docker.github.io/issues/2407#issuecomment-293735622>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AGXZMqVkkfq0m

[2017-04-12 23:51] #2065 closed

[2017-04-13 07:32] mcd-php opened #2758 "Right-side TOC not fits on <1280, no scrollbar"
Right table of contents is cut on resolutions <1280px, and no scroll bar at the bottom, so can't move left TOC out of view. In Ubuntu with non-hiding left application bar (window.innerWidth -> 1215), it's even more grave.

![https___docs docker com_compose_compose-file_-800x600b1280x1024](https://cloud.githubusercontent.com/assets/3469206/24994506/c9d57c84-2033-11e7-95fa-194269ff1f6f.jpg)

Seen at

[2017-04-13 13:57] martinadolfi commented on #2748
Just to help, I think the easiest way to thest this is by changing root password like this (i added an `x` to the password) ,and then starting with `docker-compose up`:
[code]

You´ll see this i the log:

db_1         | 2017-04-13T13:52:21.837829Z 4 [Note] Access denied for user 'root'@'172.22.0.3' (using password: YES)

So i'm pretty sure it's trying to access with root.

[2017-04-13 16:04] elegos commented on #2551
@friism OpenSuSE is not commercial, differently from SLES. I see there is Docker 1.13 in the Tumbleweed's repositories, but no trace of 1.17 in any of the OpenSuSE repos.

[2017-04-13 19:03] briantd opened #2763 "selinux labels are not used by bind mounts in swarm mode"
File: [engine/tutorials/dockervolumes.md](https://docs.docker.com/engine/tutorials/dockervolumes/), CC @mstanleyjones

While troubleshooting why the upcoming D4M release breaks my stackfile, I learned that swarm mode doesn't pay attention to volume labels.  This should be called out in the documentation.

See https://github.com/docker/docker/issues/32579#issuecomment-293920376 for discussion.

Not

[2017-04-13 20:13] londoncalling commented on #2677
@tzapu thanks for your feedback. I've added to the notes on `autodeploy` per the referenced PRs ^^ and this should be published within the hour. I'll close this issue, but feel free to re-open if needed, or a log a new one with other issues. Much appreciate the input.

[2017-04-13 20:13] #2677 closed

[2017-04-13 21:09] friism commented on #2551
@elegos Docker is not currently building packages for OpenSuSE. The old packages you're seeing are not built or maintained by Docker Inc.

Would you like to use Docker on OpenSuSE?

[2017-04-13 21:47] cerebrotecnologico opened #2767 "This seems outdated"
File: [registry/recipes/osx-setup-guide.md](https://docs.docker.com/registry/recipes/osx-setup-guide/), CC @joaofnfernandes

[2017-04-13 22:23] joaofnfernandes commented on #2767
Can you be a bit more specific about what's outdated? Is the fact that the article talks about multiple options to run registry on a mac, to it should just say to install Docker for Mac? Or is it something else?

[2017-04-13 22:24] joaofnfernandes commented on #2758
Closing as duplicate of #2730

[2017-04-13 22:24] #2758 closed

[2017-04-13 22:29] briantd opened #2768 "Missing argument from daemon config file: "metrics-addr""
File: [engine/reference/commandline/dockerd.md](https://docs.docker.com/engine/reference/commandline/dockerd/), CC @mstanleyjones

I noticed the "metrics-addr" argument is not listed among the supported options in the section covering the allowed options in the linux config file for surfacing the prometheus endpoint.

<img width="992" alt="screenshot of safari 4-13-17 3-24-21 pm" src="https://clou

[2017-04-13 22:45] joaofnfernandes commented on #2630
If you're running Docker locally you should be able to access the service just with `curl localhost:8080`, but if the machine that's running Docker is a VM or any other external machine, then you'll have to use the IP address for that machine.

[2017-04-13 22:48] joaofnfernandes commented on #2730
Closing as duplicate of #2619

[2017-04-13 22:48] #2730 closed

[2017-04-13 22:57] joaofnfernandes commented on #2082
@scjane looks like this issue is now worth 25 points for the #hackathon at DockerCon. Even if you're joining us at DockerCon you can fix this and claim your points!  [More info](https://docs.docker.com/hackathon/)

[2017-04-13 23:29] joaofnfernandes opened #2769 "Document compatibility matrix"
There's a compatibility matrix at https://success.docker.com/Policies/Compatibility_Matrix but this
information should be front and center for people installing Docker EE and expecting it to be certified.

We should spread this information, to be sure users find it:

* [ ] Migrate compatibility matrix to docs
* [ ] Update install instructions for different distros to point to this page as a system

[2017-04-13 23:44] joaofnfernandes opened #2770 "EPIC: Improve storage/graph driver docs"
This is a list of issues around storage drivers that are causing some confusion, specially with users installing Docker EE.

* [ ] Make clear the distinction between storage and volume drivers #1126
* [ ] Make clear that the aufs driver is stable and supported #2733
* [ ] Document the support matrix for Docker/OS/Drivers #2769
* [ ] In RHEL you should use devicemapper for production, but it requir

[2017-04-14 02:02] mstanleyjones opened #2772 "Layout problems at 1016 px wide"
File: [index.md](https://docs.docker.com/), CC @johndmulhausen

If you resize your browser to exactly 1016px, the layout gets weird if the global header is showing. The boxes that hold the left-hand nav items seem to suddenly go to 100% of the screen width, and push the middle and right content down. When you scroll down, the fixed header kicks in and the layout problem is fixed. Screenshot attach

[2017-04-14 06:14] mstanleyjones opened #2774 "404 to API from edge page"
File: [404.md](https://docs.docker.com/404.html), CC @johndmulhausen

[2017-04-14 07:37] mcd-php commented on #2619
+1. Even worse, no horizontal scroll bar at the bottom. Had to go to dev mode in browser and delete node '.col-nav' to make room.

[2017-04-14 07:57] spqa opened #2775 "404 at /engine/api/getting-started/"
URL: /engine/api/getting-started/

[2017-04-14 08:24] elegos commented on #2551
@friism: yep, that's the distro I've been used lately... I could install docker from sources too, but an rpm would be very welcome!

[2017-04-14 08:40] praveenwts opened #2776 "MSN Users Can Recover Lost Email Accounts"
Haven’t you signed-in to your MSN account for long? Is your account hacked? Whatever be the reason of losing your account, we are here to help. MSN users can recover their lost email accounts with Contact Email Support’s technical assistance. Our certified professionals will help you throughout the recovery process. Apart from account recovery, we offer solutions for email attachment issues, email

[2017-04-14 15:25] itsopen opened #2778 "Docs non-response"
It seems that the main text column of the getting started webpage is non responsive, which was noticed when trying to run some CLI commands next to the docs.

Noticed on Win/Mac getting started pages.

https://docs.docker.com/docker-for-windows/

File: [index.md](https://docs.docker.com/), CC @johndmulhausen

[2017-04-14 15:53] joaofnfernandes commented on #2776
Flagging as spam. I've removed the link the user posted, and will flag the user to Github as spam.

[2017-04-14 15:53] #2776 closed

[2017-04-14 15:54] soujanya24 opened #2779 "404 at /engine/reference/logging/overview/"
URL: /engine/reference/logging/overview/

[2017-04-14 15:59] joaofnfernandes commented on #2778
I can't seem to reproduce this. Can you take a screenshot/gif that shows the behavior?

[2017-04-14 16:03] joaofnfernandes opened #2781 "Make notes conform to new style"
Follow-up of #2710. Now that have different css classes for notes and warnings, we should clean up existing notes to make them conform to the new style.

You can see an example of the new style at #2710

[2017-04-14 16:16] mstanleyjones opened #2782 "Very wide images break the page layout"
File: [test.md](https://docs.docker.com/test/), CC @johndmulhausen
On smaller screens, such as a 13" laptop or an iPhone, if a very wide image is on the page, it breaks the page layout, forcing the right-hand column off the page canvas completely. You can see this on `/test/`.

Probably images should be constrained to a max width of 100% of their parent div.

[2017-04-14 16:21] mstanleyjones opened #2783 "On the 404 page, the "Request Docs Changes" link should include the referrer, not 404.md, in the report"
If you click Request Docs Changes on the 404 page, it reports that the error is in 404.md. This may be the case but it is much more likely that someone wants to report a 404 and has not realized that there is a link to do that in the 404 page itself. You can try it by going to https://docs.docker.com/foo and clicking "Request docs changes" and comparing its behavior to if you clicked "File a ticke

[2017-04-14 16:24] mstanleyjones opened #2784 "Improve note accessibility"
### Problem description

After #2710, notes are less accessible. We need to add the note type to the note title, so that people with color blindness and other color-differentiating issues can still discern the note severity and type.

One suggestion is to modify the CSS and use the `:before` selector to add the content of either `Note: `, `Important: `, or `Warning: ` before the note title.

Pleas

[2017-04-14 16:26] mstanleyjones commented on #2775
This is my fault. I'll fix it right away.

[2017-04-14 16:54] jsouth commented on #2619
Tightening up the fix for this today!

[2017-04-14 17:09] mstanleyjones commented on #2471
This has been corrected already, by a previous commit.

[2017-04-14 17:09] #2471 closed

[2017-04-14 17:21] mstanleyjones commented on #2528
@marcmerlin you probably want https://docs.docker.com/engine/userguide/networking/default_network/binding/. Can you remember what you typed in Google to get that search result? We don't even publish archives for Docker 1.7 anymore, so I can't actually even directly address this for you.

[2017-04-14 17:28] #2024 closed

[2017-04-14 17:28] #2045 closed

[2017-04-14 17:28] #2774 closed

[2017-04-14 17:28] #2775 closed

[2017-04-14 17:28] #2779 closed

[2017-04-14 17:33] mstanleyjones commented on #1502
The correct URL is https://docs.docker.com/v1.8/engine/introduction/understanding-docker/, FYI.

[2017-04-14 17:42] mstanleyjones commented on #2528
Closed via #2786

[2017-04-14 17:42] #2528 closed

[2017-04-14 17:42] mstanleyjones commented on #1502
Closed via #2787

[2017-04-14 17:42] #1502 closed

[2017-04-14 17:44] marcmerlin commented on #2528
@mstanleyjones sadly this was a while ago so I don't have the exact search query I typed anymore, sorry.

[2017-04-14 17:48] mstanleyjones commented on #2157
@londoncalling I am fixing this in #2788. It is just a typo.

[2017-04-14 17:51] mstanleyjones commented on #2157
Closed via #2788

[2017-04-14 17:51] #2157 closed

[2017-04-14 17:55] mstanleyjones commented on #2432
Where did you find the bad link? I can't find it mentioned anywhere on docs.docker.com, but the correct link is https://docs.docker.com/engine/reference/commandline/cli/. Please reopen this issue if you can provide the URL that has the bad link and that URL is on docs.docker.com. Thanks!

[2017-04-14 17:55] #2432 closed

[2017-04-14 17:56] mstanleyjones commented on #2608
Closing due to lack of info.

[2017-04-14 17:56] #2608 closed

[2017-04-14 17:56] mstanleyjones commented on #800
Closed due to lack of info.

[2017-04-14 17:56] #800 closed

[2017-04-14 18:15] mstanleyjones commented on #868
Addressing this in https://github.com/docker/docker/pull/32631, so closing this issue.

[2017-04-14 18:15] #868 closed

[2017-04-14 18:15] #1361 closed

[2017-04-14 18:18] mstanleyjones commented on #1494
This has been fixed.

[2017-04-14 18:18] #1494 closed

[2017-04-14 18:23] mstanleyjones commented on #1634
We need to regenerate the CLI YAML for 1.13. We had just started using the YAML to reuse the same information about the CLI that is in the Docker code, and there were some bugs. Fingers crossed that I can do this. Otherwise, I will pull out the `--filter` reference here manually as it slipped in by accident.

[2017-04-14 19:22] mstanleyjones commented on #2049
I can't reproduce this. If it is still happening to you, please supply the output of `docker version`.

[2017-04-14 19:23] mstanleyjones commented on #2075
This is not a Docs issue. If the feature becomes available, we will document it then. :) Please file your feature request in the `docker/docker` project.

[2017-04-14 19:23] #2075 closed

[2017-04-14 19:26] mstanleyjones commented on #2165
These appear to have been fixed.

[2017-04-14 19:26] #2165 closed

[2017-04-14 19:26] mstanleyjones commented on #1634
Closed via #2789

[2017-04-14 19:26] #1634 closed

[2017-04-14 19:42] jamespedwards42 commented on #2075
@mstanleyjones Sorry, I intended it be a documentation issue until the (feature is added)/(bug is fixed).  In the context of the `docker node` command I think it is reasonable to assume that filters would be applied to `node labels`.  However, unexpectedly they are applied to `engine labels`.  A simple comment explicitly stating that filtering is applied to `engine labels` only, will probably save

[2017-04-14 20:32] znmeb commented on #2551
@elegos Is Docker in the openSUSE Build Service? I've got an account there - I ran openSUSE for years before switching to Fedora (and now Ubuntu - tired of third parties only supporting CentOS / RHEL and Ubuntu) ;-) If Docker's in OBS it may just need some build failure cleanup.

[2017-04-14 20:39] znmeb commented on #2551
Yep - it's there and it looks like the last source update was 2 months ago. https://build.opensuse.org/package/show/Virtualization:containers/docker. Anyone with an account can fork / branch the repo - not sure what the protocol is for contributing though.

[2017-04-14 20:45] joaofnfernandes commented on #1694
#dibs. PR #2790

[2017-04-14 21:08] itsopen commented on #2778
Here you go - this is in latest Chrome, Win10 x64 (Creators Update):

![screen](https://cloud.githubusercontent.com/assets/15907315/25056117/b6d7a3c4-215e-11e7-8358-bc6c24b43555.JPG)

[2017-04-14 21:14] joaofnfernandes commented on #2778
Oh, I got it now. Thanks for the screenshot!
Related to #2619

[2017-04-14 21:41] londoncalling opened #2793 "Clarify differences in Cloud stack YAML vs. Compose and stack files"
### Problem description

- Users can get confused in choosing between Cloud stack YAML file,  Compose file, and `docker-stack.yml`.

- Documentation might help with this.

### Questions
1. Does the Cloud stack YAML need updates per the latest Compose v3 file? Or are they completely independent?
2. Should we include several notes in Cloud stack YAMl to redirect users to the latest Compose file? (Bo

[2017-04-15 01:00] friism commented on #2551
@znmeb @elegos We appreciate your interest in Docker packages for opensuse and have made a note of your request. The documentation in this repo concerns packages built and maintained by Docker Inc., so I humbly ask that you continue your discussion about other packages to the relevant opensuse forums.

[2017-04-15 20:53] bertrandmartel opened #2800 "Documentation for Docker Hub REST Api v2"
I can't find API reference for Docker Hub REST Api v2. Only v1.7 is available at this location : https://docs.docker.com/v1.7/reference/api/docker-io_api/

A lot of links from external source point to : https://docs.docker.com/reference/api/docker-io_api/ which doesn't exist.

Is this intended ? Does Docker Hub RESP Api reference v2 exist ?

Thanks for your help

File: [404.md](https://docs.docker

[2017-04-15 21:30] jhwheeler commented on #329
So what's the new situation with Yakkety? Following the [docs for Ubuntu install](https://docs.docker.com/engine/installation/linux/ubuntu/#install-using-the-repository), I've tried with:

`sudo add-apt-repository \
   "deb [arch=amd64] https://download.docker.com/linux/ubuntu \
   $(lsb_release -cs) \
   stable"`

Yet to no avail.

I get the following:

`W: The repository 'https://download.docker

[2017-04-16 07:41] jamshid opened #2801 "Document what --memory-swap=0 means"
File: [engine/admin/resource_constraints.md](https://docs.docker.com/engine/admin/resource_constraints/), CC @mstanleyjones

The latest docs https://docs.docker.com/engine/admin/resource_constraints/#/memory-swap-details do not describe the effect of using `--memory-swap=0`. The default is `-1` which means unlimited, and using a positive integer (i.e. >1) is defined.

Does `0` mean no swap will be

[2017-04-16 17:25] mstanleyjones commented on #329
Yakkety is not supported. You can see the supported versions at the top of the topic. You can still use static binaries. :)

[2017-04-16 20:18] andrewhsu commented on #329
@jhwheeler from the output of the `add-apt-repository` command you showed, it looks like the execution of the command was escaped so that some of the special characters like the `$` were not evaluated by bash.

From the [documentation](https://docs.docker.com/engine/installation/linux/ubuntu/#install-using-the-repository) the command you want to run is:
[code]

Where the `$(lsb_release -cs)` shoul

[2017-04-16 20:50] shubheksha opened #2803 "Links broken"
File: [opensource/FAQ.md](https://docs.docker.com/opensource/FAQ/), CC @johndmulhausen

All the links listed as bullets at the top are broken and they're appended with what looks like a hash value.

[2017-04-16 21:21] shubheksha commented on #2433
This works as expected here: https://docs.docker.com/registry/deploying/#next
It links to https://docs.docker.com/registry/spec/auth/token/ which is accessible

[2017-04-17 05:02] scjane commented on #1694
#dibs

[2017-04-17 05:03] scjane commented on #967
#dibs

[2017-04-17 05:04] scjane commented on #811
#dibs

[2017-04-17 05:05] scjane commented on #998
#dibs

[2017-04-17 05:06] scjane commented on #1548
#dibs

[2017-04-17 05:07] scjane commented on #1680
#dibs

[2017-04-17 05:08] scjane commented on #2082
#dibs

[2017-04-17 05:08] scjane commented on #2205
#dibs

[2017-04-17 05:12] scjane commented on #1054
#dibs

[2017-04-17 05:15] scjane commented on #1477
#dibs

[2017-04-17 05:15] scjane commented on #1400
#dibs

[2017-04-17 05:17] scjane commented on #1759
#dibs

[2017-04-17 05:19] scjane commented on #2430
#dibs

[2017-04-17 05:20] scjane commented on #2108
#dibs

[2017-04-17 05:22] ashishkamat2791 commented on #2724
added to @mstanleyjones
Yes It works same as that of HTTP_PROXY and It is something to related to network and not Docker specific.
Eg: For accessing a network behind proxy we need to setup following enviornment variables and ensure they are set as to confirm we can access a network

`MY_PROXY_URL="http://$MY_CREDENTIALS@10.21.2.217:8080/"
HTTP_PROXY=$MY_PROXY_URL
HTTPS_PROXY=$MY_PROXY_URL
FTP_PROX

[2017-04-17 05:24] scjane commented on #2512
#dibs

[2017-04-17 05:29] scjane commented on #2575
#dibs

[2017-04-17 05:30] scjane commented on #1559
#dibs

[2017-04-17 05:37] ashishkamat2791 commented on #1054
Hi @mstanleyjones
I checked by running commands. It does not kill as it supposed to but just stop the running container and shows as exited
I think we need to pass the signal using `-s` flag for `docker kill` to completely remove container which can be achieved using `docker rm -f CONTAINER-ID/CONTAINER-NAME` for a single container and `docker rm -f $(docker ps )` for all  running containers and `

[2017-04-17 05:59] scjane commented on #2130
#dibs

[2017-04-17 07:04] johndmulhausen commented on #2784
@joaofnfernandes has called #dibs on this in #2795

[2017-04-17 07:59] shubheksha commented on #2803
I'll take this one up!

[2017-04-17 08:19] shubheksha commented on #1625
I'll take this one up!

[2017-04-17 08:26] shubheksha commented on #2734
I'll take this one up!

[2017-04-17 08:27] shubheksha commented on #2732
I'll take this one up!

[2017-04-17 09:01] shubheksha commented on #2724
I'll take this up!

[2017-04-17 09:10] scjane commented on #1548
The typo does not exist now, so this issue can be closed.
![redeploy](https://cloud.githubusercontent.com/assets/25146885/25084713/9a810dc6-2390-11e7-8524-19d7aaa48438.jpg)

[2017-04-17 09:15] shubheksha commented on #2643
This file doesn't seem to be editable in this repo and needs to be fixed in the main repo?
https://github.com/docker/docker.github.io/blob/master/engine/reference/commandline/dockerd.md

[2017-04-17 09:28] shubheksha commented on #2435
I'll take this up!

[2017-04-17 09:29] shubheksha commented on #2535
I'll take this up!

[2017-04-17 09:32] shubheksha commented on #2427
I'll take this one up!
@johndmulhausen & @mstanleyjones -- Do I need to incorporate both the suggestions mentioned in the description or only the second one?

[2017-04-17 09:35] shubheksha commented on #2115
I'll take this one up!

[2017-04-17 09:37] shubheksha commented on #2300
I'll take this one up!

[2017-04-17 09:45] shubheksha commented on #761
I'll take this up!

[2017-04-17 09:49] shubheksha commented on #761
I cannot find a `builder.md` file in the [`engine`](https://github.com/docker/docker.github.io/tree/master/engine) folder to make the changes. Am I missing something?

[2017-04-17 09:50] shubheksha commented on #205
I'll take this up!

[2017-04-17 09:55] jhwheeler commented on #329
@andrewhsu Yes, that's what I thought as well; it seems the `$(lsb_release -cs)` isn't being interpreted as `yakkety`. Not sure why it's escaping incorrectly; I've tried both copy-pasting this in directly and typing it by hand, both by leaving it on multiple lines as it is above and putting all on one line. I've also tried replacing `$(lsb_release -cs)` with `yakkety` directly. None of these seeme

[2017-04-17 10:20] shubheksha commented on #933
I'll take this up!

[2017-04-17 10:24] shubheksha commented on #1670
I'll take this up!

[2017-04-17 10:34] shubheksha commented on #1448
I'll take this up!

[2017-04-17 10:39] shubheksha commented on #2390
I'll take this up!

[2017-04-17 10:46] shubheksha commented on #2017
I'll fix the docs style guide for this one!

[2017-04-17 10:57] shubheksha commented on #1844
I'll take this one up!

[2017-04-17 11:03] shubheksha commented on #2151
I'll take this up!

[2017-04-17 11:06] shubheksha commented on #2125
I'll take this up!

[2017-04-17 11:07] shubheksha commented on #2781
I'll try to work on this over the course of this week!

[2017-04-17 11:10] shubheksha commented on #2478
Can this be added as note?

[2017-04-17 11:14] shubheksha commented on #2115
Do all links referring to images in the hub be changed to Docker Store?

[2017-04-17 11:50] shubheksha commented on #2398
Where can I find the appropriate versions to include here?

[2017-04-17 11:51] shubheksha commented on #2374
I'll fix this!

[2017-04-17 11:55] shubheksha commented on #2370
The parameter in the current docs is `--set-disabled`. Is this issue still relevant?

[2017-04-17 11:56] shubheksha commented on #2281
I'll take this one up!

[2017-04-17 12:00] shubheksha commented on #2225
I'll take this up!

[2017-04-17 12:02] shubheksha commented on #2225
The word `swarm mode` has been used twice and it's already linked to the glossary definition in both places.
Should I make one of those point to the definition of `swarm` in the glossary?

[2017-04-17 12:03] shubheksha commented on #2113
Can you clarify on which page did you notice the error?

[2017-04-17 12:08] shubheksha commented on #1973
I'll take this up!

[2017-04-17 12:10] shubheksha commented on #2108
This issue is a duplicate of #2300 and #2430. It can be closed.

[2017-04-17 12:10] shubheksha commented on #2430
This issue is also a duplicate and can be closed.

[2017-04-17 12:13] shubheksha commented on #1969
I'll take this one up!

[2017-04-17 12:50] jpooler commented on #2423
#dibs for the hackathon

[2017-04-17 12:52] jpooler commented on #2555
If it's still available, I'll take this up for the hackathon!

[2017-04-17 12:53] jpooler commented on #2589
#dibs for the hackathon

[2017-04-17 12:54] jpooler commented on #2675
#dibs for the hackathon

[2017-04-17 12:54] jpooler commented on #2659
#dibs for the hackathon

[2017-04-17 12:56] jpooler commented on #2607
#dibs for the hackathon

[2017-04-17 14:00] johnharris85 commented on #1667
Claimed :)

[2017-04-17 14:30] akbar-10p commented on #2470
You have to use the following APIs for login

1. GET https://172.17.0.1/api/v0/openid/begin
                      This api will create cookie i.e csrf_redirect_state_key and give you authorization URL

2. POST https://172.17.0.1:444/enzi/v0/id/login
                       Body POST data:
{"username":"admin","password":"password"}
              This API will return you authorization token, use this

[2017-04-17 14:43] mstanleyjones commented on #1973
Make note of your points for closing it!

[2017-04-17 14:43] #1973 closed

[2017-04-17 14:56] shubheksha commented on #1973
Yes, I'll track them in a spreadsheet, thanks for the tip! :)

[2017-04-17 15:03] shubheksha commented on #2512
This renders correctly now, this issue can be closed.

[2017-04-17 15:05] shubheksha commented on #2396
I'll take this one up!

[2017-04-17 15:06] shubheksha commented on #2395
The link works as expected now, this issue can be closed.

[2017-04-17 15:10] shubheksha commented on #2114
Will this be added as a Windows-specific note in the docs?

[2017-04-17 15:12] bdwill commented on #2088
dibs for hackathon

[2017-04-17 15:15] shubheksha commented on #951
I'll take this up!

[2017-04-17 15:16] shubheksha commented on #933
I tried to understand what's written in the issue description, but it's a little confusing. Can someone explain which value needs to be changed here?

[2017-04-17 15:16] bdwill commented on #1538
dibs for hackathon

[2017-04-17 15:17] bhavin192 commented on #2748
You are right @martinadolfi, as it defaults to root if not specified. It tries to connect to database with root password. Good catch 👍

[2017-04-17 15:17] shubheksha commented on #825
I'll take this one up!

[2017-04-17 15:18] shubheksha commented on #786
What will be the correct file location for this?

[2017-04-17 15:33] bdwill commented on #1538
I feel that the actual deploy command doesn't need to be included here as it is an overview document and the full ``` deploy ``` command is illustrated in [/engine/getstarted-voting-app/deploy-app](https://docs.docker.com/engine/getstarted-voting-app/deploy-app).

@marikaris take a look there and you should be good to go!

[2017-04-17 15:40] bdwill commented on #2510
dibs for hackathon

Possibly fixed already as the current documentation doesn't match @genevaya's comment.

[2017-04-17 15:51] bdwill commented on #2126
dibs for hackathon

[2017-04-17 15:56] johnharris85 commented on #2036
Claimed.

[2017-04-17 16:06] johnharris85 commented on #2116
Actually not too many changes here, as you'll still need machine for Linux (for ease of having 2 machines). Probably all the mac OS instructions should be labeled as Linux too.

I'll take a look / claim this.

[2017-04-17 16:59] #2535 closed

[2017-04-17 17:08] mstanleyjones commented on #2643
Yep but you can submit the PR there and still get credit!

[2017-04-17 17:10] unbreakableIce commented on #1499
dibs for the hackathon

[2017-04-17 17:12] #1694 closed

[2017-04-17 17:12] unbreakableIce commented on #2223
#dibs for hackathon

[2017-04-17 17:13] #1904 closed

[2017-04-17 17:15] londoncalling commented on #205
@shubheksha , yeah this is a little confusing, but I do see something that needs fixing here.

- Under the topic "Design Proposal" below the diagram, find step 2 ("Review existing issues and proposals to make sure no other user is proposing a similar idea.") Just below that step, there is this sentence with a link: "The design proposals are [all online in our GitHub pull requests](https://github.c

[2017-04-17 17:15] unbreakableIce commented on #1009
#dibs for hackathon

[2017-04-17 17:16] #2575 closed

[2017-04-17 17:17] jadametz commented on #1055
I'll take this one.

[2017-04-17 17:18] londoncalling commented on #2555
@jpooler great! Please have at it!

[2017-04-17 17:18] #2803 closed

[2017-04-17 17:26] #1625 closed

[2017-04-17 17:36] prashant171992 commented on #1850
Raised a PR here : https://github.com/docker/docker.github.io/pull/2830

[2017-04-17 17:52] bhavin192 commented on #2589
Read the note here https://docs.docker.com/engine/tutorials/dockervolumes/#mount-a-shared-storage-volume-as-a-data-volume

You cant mount **host directory** from `Dockerfile` as the image we are going to build should be host dir independent.

[2017-04-17 17:58] prashant171992 commented on #786
Raised a PR here : https://github.com/docker/docker.github.io/pull/2833

[2017-04-17 18:40] bhavin192 commented on #2237
It is showed when you turn off the swarm mode on https://cloud.docker.com
Add -> Service

[2017-04-17 18:50] bdwill commented on #1990
dibs for hackathon

[2017-04-17 18:51] bdwill commented on #1990
well :)

[2017-04-17 18:51] prashant171992 commented on #1990
@bdwill u claimed it first mate !

[2017-04-17 19:24] stevenhanna6 commented on #2751
can I claim this bug please

[2017-04-17 19:28] prashant171992 commented on #2783
Raised PR here :  https://github.com/docker/docker.github.io/pull/2838

[2017-04-17 19:48] jadametz commented on #2077
I've got this one!

[2017-04-17 20:09] johnharris85 commented on #1622
I'll take a look / claim this one.

[2017-04-17 20:11] johnharris85 commented on #218
I'll take a look / claim this one :)

[2017-04-17 20:12] jadametz commented on #382
@johndmulhausen this doesn't seem to be an issue anymore on `master`. Can probably be closed.

[2017-04-17 20:23] jadametz commented on #926
I got this one.

[2017-04-17 20:30] bdwill commented on #2587
Appears to only do this on sub-items. Ex, List services is a sub-item of Services.

Services link is https://docs.docker.com/engine/api/v1.26/#tag/Service
List services link is https://docs.docker.com/engine/api/v1.26/#tag/Service

Clicking on a link to https://docs.docker.com/engine/api/v1.26/# displays the behavior as seen above.

Perhaps sub-items need to be tagged in Swagger?

[2017-04-17 20:32] jadametz commented on #1539
@johndmulhausen Happy to take this on if it's still an issue, but as far as I can tell, this has been previously resolved.

[2017-04-17 20:32] bdwill commented on #2339
dibs for hackathon.

Step 5 doesn't have an image anymore, perhaps fixed in another issue.

[2017-04-17 20:36] shubheksha commented on #205
So we link it to all the PRs and not just one particular label?

[2017-04-17 20:38] bdwill commented on #2067
dibs for hackathon

Apparently fixed in another issue, file only references microseconds.

[2017-04-17 20:38] jadametz commented on #1311
I got this one.

[2017-04-17 20:40] stevenhanna6 commented on #1316
I'll take this one

[2017-04-17 20:41] bdwill commented on #1809
@londoncalling preference for 3 or 3.1?

[2017-04-17 21:04] Rubab-Syed commented on #2772
I would like to work on this!

[2017-04-17 21:06] orthros commented on #2012
I'll take a look

[2017-04-17 21:15] orthros commented on #1428
I'm running WIn10 Pro Anniversary. I'll take a look at this

[2017-04-17 21:31] Rubab-Syed commented on #2580
I'll take this!

[2017-04-17 21:32] joaofnfernandes commented on #2470
@akbar-10p thanks for posting this info! I'm not sure that authentication method is officially supported and will continue working in the future, so if you're looking at this issue for the DockerCon hackathon, document how to authenticate to DTR using basic authentication instead of this openid handshake.

[2017-04-17 21:40] bdwill commented on #1476
dibs for hackathon

[2017-04-17 21:43] joaofnfernandes commented on #2478
I think the best way to solve this is by reviewing the "[Adding a host without a driver](https://docs.docker.com/machine/get-started-cloud/#adding-a-host-without-a-driver)" section. It's not clear to me what is the use case. Is it "I want to provision a node manually, but then be able to do eval $(docker-machine env <machine>-name)"?

Addressing this will require a bit of research to understand th

[2017-04-17 21:46] Rubab-Syed commented on #2772
I am unable to reproduce this. Is this still a bug?

[2017-04-17 21:47] bdwill commented on #1319
dibs for hackathon.

Seems to be already fixed. Documentation has example for -v use.

[2017-04-17 21:47] Rubab-Syed commented on #926
On it!

[2017-04-17 21:52] bdwill commented on #1017
taking this one for hackathon

[2017-04-17 22:14] joaofnfernandes commented on #2510
Yup. It looks like there were two commits with major changes to this article, and in the process probably addressed this feedback.
@bdwill I don't believe there's anything to do here, so I'm closing this issue and removing it from the hackathon. Can you pick something else to hack or did you started working on this?

[2017-04-17 22:23] Rubab-Syed commented on #1528
I'll take this one.

[2017-04-17 22:38] bdwill commented on #2510
@joaofnfernandes all good, just trying to claim points however possible!

[2017-04-17 23:07] joaofnfernandes commented on #2510
😂 let me know if you can't find enough things to fix. I'm sure we'll be able to find more things that need fixing

[2017-04-17 23:07] #2510 closed

[2017-04-18 00:17] jaredestroud commented on #1621
Got this one!

[2017-04-18 00:24] jadametz commented on #2277
I'll take this one!

[2017-04-18 01:08] sg1970 commented on #1428
@orthros  @mstanleyjones  @JimGalasyn  @johndmulhausen
Thanks Everyone for considering this. I made some minor edits to the OP ( typos and added Hyper-V in the first line ).

[2017-04-18 01:38] scjane commented on #811
A link for downloading Toolbox is provided now. This issue can be closed.

![123](https://cloud.githubusercontent.com/assets/25146885/25110993/bf36db5c-241a-11e7-87e9-089ee273eb24.jpg)

[2017-04-18 01:49] scjane commented on #998
There are no duplicate "--hyperv-cpu-count" now, and the original second "--hyperv-cpu-count" is "--hyperv-vlan-id". This issue can be closed.

![123](https://cloud.githubusercontent.com/assets/25146885/25111175/edcde5fe-241b-11e7-9d51-d7191dc775da.jpg)

[2017-04-18 02:12] scjane commented on #1680
This embedded link is valid now. Perhaps it is fixed in someone's PR before. This issue can be closed.

[2017-04-18 02:22] londoncalling commented on #205
I don't think we have to label the PRs at all. That was mistake. The issues
all have a label and then I would mention / link to the issue in your PR,
as you are already doing. Then you are good to go.

On Mon, Apr 17, 2017 at 3:36 PM Shubheksha Jalan <notifications@github.com>
wrote:

[2017-04-18 02:25] londoncalling commented on #1809
@bdwill In terms of referencing a version, I suppose preference for simply 3 or just say 3.x. (The only exception would be if you use an example that includes a 3.1 only feature, then you would have to explicitly call out 3.1)

[2017-04-18 03:08] johnharris85 commented on #1622
So, I looked at this and I don't see anything wrong here really. The docs for version 3 say:

    Version 3 no longer supports the condition form of depends_on.

It still supports `depends_on` for simple container startup order, just not the `condition` form. I don't see any examples that are inconsistent with that message.

[2017-04-18 03:36] AyushyaChitransh commented on #2225
The link to glossary definition of `swarm mode` is not working. It redirects to [swarm mode](https://docs.docker.com/engine/reference/glossary/#swarm) which does not exists. I would like you to recheck if we are looking at the same file, since I found only one usage of `swam mode` in File: [engine/getstarted/last_page.md](https://docs.docker.com/engine/getstarted/last_page/) .

[2017-04-18 05:12] allejo commented on #2012
@orthros you working on this?

[2017-04-18 05:19] akbar-10p commented on #2470
@joaofnfernandes , yes it is the basic authentication method used by DTR.
You will be able to login by using only login call but it wont create the required cookies.
So this method is correct as far as my research work

[2017-04-18 05:27] allejo commented on #2403
`.sidebar`'s `position: fixed` rule is causing `#navbar` to take up 100% of the browser's height (which is being controlled by JS); similar to what's going on with the right sidebar too.

I'll call dibs on this one 👍  any pointers on where you guys have the code for this?

[2017-04-18 05:30] allejo commented on #2619
Should this one be closed? Think it's already been fixed in #2804

[2017-04-18 05:35] scjane commented on #2634
#dibs

[2017-04-18 06:45] scjane commented on #1759
I tested building 4 images using Dockfiles that only differ in "LABEL". The "LABEL" filelds are respectively defined in the Dockerfiles as follows:

- LABEL maintainer "wangjie5@chinaskycloud.com"
- LABEL maintainer ="wangjie5@chinaskycloud.com"
- LABEL maintainer wangjie5@chinaskycloud.com
- LABEL maintainer=wangjie5@chinaskycloud.com

All images are successfully built. Then, I checked the image

[2017-04-18 06:58] mcd-php commented on #2619
Yes, fixed for me (1280 - Ubuntu sidebar) on production site.

[2017-04-18 07:06] scjane commented on #2407
@gabzillah Hi, are you still working on this issue?

[2017-04-18 07:25] lacivert commented on #2512
Thanks

[2017-04-18 07:25] #2512 closed

[2017-04-18 07:51] scjane commented on #1759
I built an image again using Dockfile with the following label defined:

LABEL maintainer "wangjie5@chinaskycloud.com"  description "test adding labels in Dockfile"

The image is also successfully built. But the output of docker inspect is as follows.
![4](https://cloud.githubusercontent.com/assets/25146885/25119779/1ae1cc9a-244e-11e7-8afa-7da5eac318be.png)

It shows that the maintainer info and t

[2017-04-18 08:06] yurtesen opened #2853 "easier way to obtain docker-stack.yml at voting app example"
At:
https://docs.docker.com/engine/getstarted-voting-app/deploy-app/#copy-docker-stackyml-to-the-manager

I think this is over complicated. Especially for a windows user, it suggests creating file in a linux machine then copy from there to windows then use `docker-machine scp` to copy to the manager machine etc.

In the previous step we already had ssh connection open to manager machine. We can si

[2017-04-18 08:21] joeuo commented on #2801
I'll take this one up!

[2017-04-18 08:31] shubheksha commented on #205
Updated the PR, PTAL :)

[2017-04-18 08:31] scjane commented on #1759
Add "=" via #32682.

[2017-04-18 08:44] prashant171992 commented on #926
@urbantom i raised a PR(https://github.com/docker/docker.github.io/pull/2849) to merge in docker:v1.13 as this file not present in master branch

[2017-04-18 08:56] urbantom commented on #926
Thanks in behalf of all newbies. ;-)

[2017-04-18 09:02] scjane commented on #1400
@erikcw Hi, do you mean the following "Build cache" link?

Whenever possible, Docker will re-use the intermediate images (cache), to accelerate the docker build process significantly. This is indicated by the Using cache message in the console output. (For more information, see the Build cache section) in the Dockerfile best practices guide:

There is something wrong with this link. I fixed it via

[2017-04-18 09:28] scjane commented on #1559
The page related to this issue has been reorganized, and the code that displays incorrectly as described does not exist now. Perhaps someone has fixed this in his or her PR. This issue can be closed.

[2017-04-18 10:16] mstanleyjones commented on #2619
@allejo thanks!

[2017-04-18 10:16] #2619 closed

[2017-04-18 10:22] mstanleyjones commented on #2067
Thanks! You get the points!

[2017-04-18 10:22] #2067 closed

[2017-04-18 11:10] czka commented on #1622
@johnharris85

I opened this ticket on 13 Feb.

The note you refer to was added a **month later**, on 15 Mar (https://github.com/docker/docker.github.io/commit/37333c8fe86884e6b334fca1fcceb967581e54a4).

In the same commit the version 2 - specific example, that will not work with version 3, was also removed from the version 3 - specific doc.

Nice. These changes fix the issue I complained about.

[2017-04-18 13:44] gabzillah commented on #2407
hi @scjane yes I am still working on this issue :)

[2017-04-18 13:48] bdwill commented on #987
Take this one for hackathon (but I don't think there's much to do in Docker documentation).

@alex75it, I would try installing Git for Windows which includes `curl`. You're right, although PowerShell has a `curl` command, it's an alias for Invoke-WebRequest which operates (and outputs) a bit differently.

[2017-04-18 15:15] frankgreco commented on #847
per [these](https://docs.docker.com/hackathon/#claiming-a-bug) instructions, I am claiming this bug.

[2017-04-18 15:44] johndmulhausen commented on #2853
This topic has been removed. Thanks, @yurtesen

[2017-04-18 15:44] #2853 closed

[2017-04-18 15:45] johndmulhausen commented on #2381
This topic has been removed.

[2017-04-18 15:45] #2381 closed

[2017-04-18 15:49] #2205 closed

[2017-04-18 15:50] #2082 closed

[2017-04-18 15:51] johndmulhausen commented on #1621
Note: This topic no longer exists but we'll credit the participant with hackathon points for their PR anyway.

[2017-04-18 15:51] #1621 closed

[2017-04-18 15:53] johndmulhausen commented on #2430
Thanks @scjane and @shubheksha -- 25 points to @shubheksha for identifying the duplicate.

[2017-04-18 15:53] #2430 closed

[2017-04-18 15:54] johndmulhausen commented on #2108
Thanks @scjane and @shubheksha. 25 points to @shubheksha for identifying the duplicate.

[2017-04-18 15:54] #2108 closed

[2017-04-18 15:55] #2300 closed

[2017-04-18 16:30] prashant171992 commented on #2783
@mstanleyjones is it ok to remove the 'Report docs changes' link on 404 page ? If yes, then I have raised the PR as above.
If I make it to behave like 'File an issue' link , then two links will do the same way on the same page . Is it acceptable ?

[2017-04-18 16:40] londoncalling commented on #205
@shubheksha changes look great, just waiting for Netlify build .. not sure why it's slow. Will kick it soon, if it doesn't complete.

[2017-04-18 16:46] shubheksha commented on #2433
This issue can be closed.

[2017-04-18 16:49] prashant171992 commented on #1610
@pzi123 this page is deleted now, though I made the changes and raised a PR but its not useful now I think . Do u want to close this issue now or require to do the same thing at new place ?

[2017-04-18 16:51] prashant171992 commented on #786
@demee can u please take a look at the PR .

[2017-04-18 16:52] prashant171992 commented on #1850
@JimGalasyn can u please review this PR ?

[2017-04-18 17:24] londoncalling commented on #1990
@prashant171992 This content still has rendering issues. Please see the following in the Netlify preview: https://deploy-preview-2836--docker-docs.netlify.com/opensource/workflow/work-issue/#how-to-work-on-your-local-branch .

- HTML tags: `</tbody> </table>` are showing at the top of the table
- The code tagging is extending beyond the `docker.go` file into the sentence describing it, and there i

[2017-04-18 17:57] prashant171992 commented on #1990
@londoncalling yeah, that caused the issue , thanks for pointing it out . I fixed it.

[2017-04-18 18:07] michaelspets commented on #2025
I'll take this one up!

[2017-04-18 18:11] #926 closed

[2017-04-18 18:13] londoncalling commented on #1990
Fixed by @prashant171992 per PR #2836

[2017-04-18 18:13] #1990 closed

[2017-04-18 18:16] johndmulhausen commented on #2130
Sorry @scjane, looks like you claimed this but never submitted a PR. @bhavin192 jumped on this one.

[2017-04-18 18:18] #2130 closed

[2017-04-18 18:19] #1969 closed

[2017-04-18 18:21] niclic commented on #2694
Still an issue with the latest `linux-aws` kernel package
[code]

[2017-04-18 18:25] #2751 closed

[2017-04-18 18:26] domg123 commented on #2782
#dibs

[2017-04-18 18:27] #2734 closed

[2017-04-18 18:29] domg123 commented on #2643
#dibs

[2017-04-18 18:30] johndmulhausen commented on #2151
This topic doesn't exist any longer, but @shubheksha gets the points anyway. The PR was on point.

[2017-04-18 18:30] #2151 closed

[2017-04-18 18:38] #2433 closed

[2017-04-18 18:42] domg123 commented on #1486
#dibs

[2017-04-18 18:44] #1670 closed

[2017-04-18 18:44] mstanleyjones commented on #2398
I think it would be better to go in a different direction. I think each of these tools has a `--version` flag. Maybe just mention that. The version of each tool will probably change for each release of Toolbox. There may also be release notes somewhere that list the component versions.

[2017-04-18 18:44] mstanleyjones commented on #2398
https://github.com/docker/toolbox/releases

[2017-04-18 18:45] audioboxer217 commented on #974
I will take this one.

[2017-04-18 18:46] #2395 closed

[2017-04-18 18:46] #2390 closed

[2017-04-18 18:47] #2374 closed

[2017-04-18 18:48] mstanleyjones commented on #2370
It's now fixed.

[2017-04-18 18:48] #2370 closed

[2017-04-18 18:48] frankgreco commented on #847
PR #2861

[2017-04-18 18:51] londoncalling commented on #1610
@pzi123 Yes let's close the issue and the PR. I can do that. Thanks!

@johndmulhausen @mstanleyjones Let's still credit @pzi123 for the points on PR #2834 - it was related to the superseded basics Getting Started.

[2017-04-18 18:51] #1610 closed

[2017-04-18 18:51] mstanleyjones commented on #2237
It's worth clarifying that the wizard might be titled differently depending on whether you are using swarm mode or not.

[2017-04-18 18:52] wcgcoder commented on #2637
#dibs I'd like to claim this bug.

[2017-04-18 18:52] mstanleyjones commented on #2225
I just meant that this might not be the first mention of Swarm in the whole docs, depending on how people are are reading and where they come in from. If you feel like it's the right place to define a swarm, you can definitely link to the glossary definition.

[2017-04-18 18:54] prashant171992 commented on #1610
@londoncalling did u try to call me in ur above comment ? I'm @prashant171992

[2017-04-18 18:55] johndmulhausen commented on #2116
This topic no longer exists, but @johnharris85 will get points for #2837.

[2017-04-18 18:55] #2116 closed

[2017-04-18 18:58] #2077 closed

[2017-04-18 18:59] #205 closed

[2017-04-18 19:07] #2634 closed

[2017-04-18 19:07] mstanleyjones commented on #1850
This is covered in the post-install instructions which are linked from each of the Linux installation topics. This is common across Linux distributions, and we don't want to duplicate it. Also, it is not strictly required for installation, as you can still run all the Docker commands using `sudo`.

You'll still get the credit, @prashant171992

[2017-04-18 19:08] johndmulhausen commented on #2634
@scjane Careful about claiming bugs and not submitting PRs! @stevenhanna6 got in there. Only claim bugs when you are actively working on them -- as close to one-at-a-time as you can. It jams up the works, otherwise.

@stevenhanna6 gets the points here.

[2017-04-18 19:10] #1850 closed

[2017-04-18 19:11] Jonesie opened #2862 "Broken link"
File: [engine/tutorials/dockervolumes.md](https://docs.docker.com/engine/tutorials/dockervolumes/), CC @mstanleyjones
There's a link to the Unified File System on this page that is broke :)

Cheers

[2017-04-18 19:20] johndmulhausen commented on #850
Thanks tio @jaredestroud, who gets the points.

[2017-04-18 19:20] #850 closed

[2017-04-18 19:24] johnharris85 commented on #1622
You are right, apologies.

[2017-04-18 19:26] #2724 closed

[2017-04-18 19:32] #1680 closed

[2017-04-18 19:33] orthros commented on #2012
@allejo I was but got pulled off. Sorry for late reply & thanks for forging ahead!

[2017-04-18 19:35] #1622 closed

[2017-04-18 19:36] #1559 closed

[2017-04-18 19:37] #1548 closed

[2017-04-18 19:38] johndmulhausen commented on #1622
Since this ended up being a no-op bug, the points value for closing this is 25, which goes to @johnharris85

[2017-04-18 19:40] mstanleyjones commented on #1622
Thanks @johnharris85, you get points for realizing this one can be closed. :)

[2017-04-18 19:42] londoncalling commented on #1610
@prashant171992 yes, @mstanleyjones closed it as she said it's not needed anymore, but you whomever fixed it still gets the points for it. I thought it was @pzi123 but it might have been you. We will settle it out after the Hackathon when we have time to go through these more thoroughly. Cool?

[2017-04-18 19:45] #2012 closed

[2017-04-18 19:46] joaofnfernandes commented on #1844
Unfortunatelly this is a non-issue. According to the [docker/docker:master](https://github.com/moby/moby/blob/master/cli/command/container/opts.go#L212) you should use the `--network` flag.

@shubheksha sorry for not catching this sooner. I'm closing your #2818 PR 😢

[2017-04-18 19:46] #1844 closed

[2017-04-18 19:47] johndmulhausen commented on #2012
In the end, @allejo gets the points for this fix. Thanks!

[2017-04-18 19:50] londoncalling commented on #218
@johnharris85 , great! thanks!

[2017-04-18 19:53] londoncalling commented on #761
@shubheksha let me take a look, the file might have moved.

[2017-04-18 19:53] johndmulhausen commented on #2114
This topic no longer exists.

[2017-04-18 19:53] #2114 closed

[2017-04-18 19:54] gschaetz commented on #2782
I got it

[2017-04-18 19:54] johndmulhausen commented on #1538
Sorry, but this topic no longer exists.

[2017-04-18 19:54] #1538 closed

[2017-04-18 19:56] johndmulhausen commented on #2607
This topic no longer exists. @jpooler still gets the points for #2832.

[2017-04-18 19:56] #2607 closed

[2017-04-18 19:57] allejo commented on #2012
👍

sorry for stealing your thunder @orthros

[2017-04-18 19:57] johndmulhausen commented on #2225
This topic no longer exists.

[2017-04-18 19:57] #2225 closed

[2017-04-18 19:57] joaofnfernandes commented on #2435
Currently `apt-get install` installs compose 1.5, which is pretty hold. So we should not be recommending people do get compose that way. @wotanii the docs are sending to github, but you don't need to build compose from source. You [can go to the releases page](https://github.com/docker/compose/releases) and download the binary.

[2017-04-18 19:58] johndmulhausen commented on #2115
This topic no longer exists.

[2017-04-18 19:58] #2115 closed

[2017-04-18 19:58] johndmulhausen commented on #1009
This topic no longer exists.

[2017-04-18 19:58] #1009 closed

[2017-04-18 19:59] johndmulhausen commented on #2126
This topic no longer exists. Don't worry, you'll still get the points for the fix, @bdwill.

[2017-04-18 20:03] mstanleyjones commented on #2748
Closed via #2824

[2017-04-18 20:03] #2748 closed

[2017-04-18 20:07] #2036 closed

[2017-04-18 20:09] johndmulhausen commented on #2251
This topic no longer exists.

[2017-04-18 20:09] #2251 closed

[2017-04-18 20:09] johndmulhausen commented on #1862
This topic no longer exists.

[2017-04-18 20:09] #1862 closed

[2017-04-18 20:12] shubheksha commented on #1844
No issues!
Just to clarify: do I get points for this?

[2017-04-18 20:12] michaelspets commented on #2862
#dibs for the hackathon

[2017-04-18 20:14] johndmulhausen commented on #1488
The old getting started is no longer with us, and now there is a Microsoft path through the Getting Started that replaced it! I'm closing this so that we have an opportunity to get more focused feedback.

[2017-04-18 20:14] #1488 closed

[2017-04-18 20:14] johndmulhausen commented on #1558
This topic no longer exists.

[2017-04-18 20:14] #1558 closed

[2017-04-18 20:14] mstanleyjones opened #2868 "Change references to docker/docker to moby/moby"
### Problem description

Hitting `docker/docker` now redirects to `moby/moby` but we should clean up mentions of it in:
- docs
- Dockerfile and `_scripts/` files
- `_layouts/docs.html` and associated Javascript
- `_data/not_edited_here.yaml`

[2017-04-18 20:15] johndmulhausen commented on #2298
This topic no longer exists.

[2017-04-18 20:15] #2298 closed

[2017-04-18 20:15] johndmulhausen commented on #2646
This topic no longer exists.

[2017-04-18 20:15] #2646 closed

[2017-04-18 20:16] jennylia commented on #2862
I want to work on this :)

[2017-04-18 20:17] johndmulhausen commented on #2394
This topic no longer exists.

[2017-04-18 20:17] #2394 closed

[2017-04-18 20:17] jennylia commented on #2862
The page has a link to union File System,  not Unified File System. Is this what you meant? What is the correctly link?

[2017-04-18 20:18] johndmulhausen commented on #2052
Closing this old guy. It has served its purpose. We should have more individual/focused bugs for any docs site behavior that looks weird.

[2017-04-18 20:18] #2052 closed

[2017-04-18 20:19] londoncalling commented on #761
@shubheksha Okay, this is a bit tricky, but do-able :-)

- we have a few sets of reference files that were originally in the `docker/docker/` repository and never moved (when we moved the rest of the documentation to its own repository). API docs, and some sets of commands, stay with the codebase. This is one of them.

- So to work on this file, you _would have_ needed to clone the `docker/docker`

[2017-04-18 20:22] gschaetz commented on #2782
It appears that this is already fixed =)

[2017-04-18 20:24] shubheksha commented on #761
Thanks for the detailed info :)
Should I just remove the line which claims that Go filepath.Match is used to fix this?

[2017-04-18 20:28] jennylia commented on #2285
Dibs for hackathon

[2017-04-18 20:28] johndmulhausen commented on #2800
@bertrandmartel That API is no longer supported, and in fact Docker Hub itself has been superseded by Docker Store and Docker Cloud.

[2017-04-18 20:28] #2800 closed

[2017-04-18 20:29] shubheksha commented on #761
@londoncalling, found the text relevant to this issue:

"Matching is done using Go's filepath.Match rules. A preprocessing step removes leading and trailing whitespace and eliminates . and .. elements using Go's filepath.Clean. Lines that are blank after preprocessing are ignored.

Beyond Go's filepath.Match rules, Docker also supports a special wildcard string ** that matches any number of direct

[2017-04-18 20:30] londoncalling commented on #761
@shubheksha yes I'm looking through this, it's a bit complicated. Let's try to figure it out together.

[2017-04-18 20:36] shubheksha commented on #2868
I'll take this up!

[2017-04-18 20:36] jennylia commented on #2641
Dibs for hackathon

[2017-04-18 20:40] gschaetz commented on #2587
I took at look at this and it appears to already be resolved

[2017-04-18 20:44] mstanleyjones commented on #1809
Closed via #2866

[2017-04-18 20:44] #1809 closed

[2017-04-18 20:45] gschaetz commented on #443
ok I got this one

[2017-04-18 20:51] londoncalling commented on #761
@thaJeztah @duglin @johnstep Can you give us some guidance on docs fixes with regard to this? It looks like the related issues in the codebase are fixed (https://github.com/docker/docker/issues/29014) but it is not totally clear whether docs fix is to remove all mention of Go's `filepath.Match` rules. If so, we need to describe the rules that are in place and might need some guidance here.

cc: @s

[2017-04-18 20:57] #2017 closed

[2017-04-18 21:00] #382 closed

[2017-04-18 21:00] mstanleyjones commented on #798
Dibs

[2017-04-18 21:07] #1311 closed

[2017-04-18 21:08] #1316 closed

[2017-04-18 21:11] joaofnfernandes commented on #2470
Sorry for being ambiguous. What I'm saying is that you should use HTTP basic authentication (pass the user/pass on all HTTP requests), like:

[code]

[2017-04-18 21:13] #2862 closed

[2017-04-18 21:23] londoncalling commented on #2339
Closing this issue, give @bdwill 50 points?

[2017-04-18 21:23] #2339 closed

[2017-04-18 21:26] #786 closed

[2017-04-18 21:45] londoncalling commented on #2782
@gschaetz thanks for checking this out.  Giving you 25 points on this.

[2017-04-18 21:47] #2782 closed

[2017-04-18 21:51] johnharris85 commented on #218
OK, so not sure if these were edited since the original issue log, but there are a couple of things at work here which can be kind of confusing. It says the local code will be 'mounted' however the Dockerfile shows a `COPY`. This is a little bit of a red herring, as in the actual `make BIND_DIR=. shell` _will_ mount the local directory into the development container. So in future instructions wher

[2017-04-18 21:54] bdwill commented on #1977
Documentation appears to be fixed already. Distro template is included.

[2017-04-18 22:05] londoncalling commented on #2427
Hey @shubheksha I just chatted with @mstanleyjones and she wants to leave the instructions more or less as is since it's the safest way and theoretically there are numerous ways you can do this. So let's use his first suggestion (not the second). Here is what I'd suggest for a PR on this:

1. On step 3, add a second sentence as a  parenthetical remark or an indented tip or paragraph. (On a desktop

[2017-04-18 22:23] clocklear commented on #1168
Claimed!

[2017-04-18 22:27] NonCreature0714 commented on #2868
Also working on this! Woot! @shubheksha @mstanleyjones @londoncalling

[2017-04-18 22:29] gschaetz commented on #1456
I got this one

[2017-04-18 22:33] joaofnfernandes commented on #1844
Ye, don't sweat about it 😀

[2017-04-18 22:34] johnharris85 commented on #176
I'll take a look and claim this one :)

[2017-04-18 22:36] NonCreature0714 commented on #2098
I'm working on this 💯  @mstanleyjones @londoncalling

[2017-04-18 22:38] shubheksha commented on #2868
Hey @NonCreature0714, I already fixed this in #2873 😄

[2017-04-18 22:39] londoncalling commented on #2403
@allejo this _might_ be fixed. If not, can you work with @jsouth on this ?
cc: @johndmulhausen

[2017-04-18 22:39] shubheksha commented on #2427
@londoncalling, updated the PR :)

[2017-04-18 22:39] #1448 closed

[2017-04-18 22:40] NonCreature0714 commented on #2868
Darn... I was hoping I got it! @shubheksha

[2017-04-18 22:41] johnharris85 commented on #2127
Don't this is applicable anymore as `ARG` _can_ now be used in a `FROM` directives (since 17.05 I believe).

[2017-04-18 22:42] #2277 closed

[2017-04-18 22:44] nickjj commented on #2427
Looks good, thanks.

I don't know what your formatting rules are for documentation but you might want to re-consider the parenthesis so it matches the remark on virtual machines. In this case, the VM tip doesn't have parenthesis and the desktop Linux tip does.

[2017-04-18 22:45] joaofnfernandes commented on #1168
@clocklear let me know if you need help testing this out.

[2017-04-18 22:45] mstanleyjones commented on #2868
Let me review this one, then @NonCreature0714 can base their work on your work if it is ready to merge. There is plenty to do here!

[2017-04-18 22:48] clocklear commented on #1683
Claimed.

[2017-04-18 22:52] londoncalling commented on #2277
@jadametz Examples of tabs are at https://docs.docker.com/test/#bootstrap-and-css-tricks. You can look at the HTML as rendered, and then look at how it's actually formatted in the raw markdown file.

[2017-04-18 22:58] allejo commented on #2403
Sure! I'm aware that @jsouth fixed the right sidebar width in #2804. Not sure if he's working on fixing the overlapping of both sidebars by the footer as seen here:

![current-scroll-issue](https://cloud.githubusercontent.com/assets/1246453/25156474/b11d59bc-244f-11e7-9ca9-4812d133eb77.gif)

PR #2860 has this behavior instead (still a WIP):

![patched-scroll-issue](https://cloud.githubusercontent.

[2017-04-18 23:37] gschaetz commented on #2005
I got this one

[2017-04-19 00:29] #798 closed

[2017-04-19 00:32] #2427 closed

[2017-04-19 01:08] clocklear commented on #1097
Claimed.

[2017-04-19 01:19] constanzekratel commented on #1465
It looks like this one has already been fixed. Made a minor change to the page and added "exact" to same version to emphasize importance. See PR https://github.com/docker/docker.github.io/pull/2885

[2017-04-19 01:25] alfonso-cabrera commented on #1665
Working on this

[2017-04-19 01:28] alfonso-cabrera commented on #1665
The reference topic appears to be correct in not listing the --filter flag for docker system prune - it was not released with v17.03. This can be closed.

[2017-04-19 01:38] stevenhanna6 commented on #2232
I might have a fix for this, will upload now

[2017-04-19 01:39] mkobit commented on #1665
Looks like it may have been fixed between when this was filed and now. Thanks for checking it out. Feel free to close!

[2017-04-19 01:49] alfonso-cabrera commented on #2096
Submitted PR #2888 for this.

[2017-04-19 01:53] scjane commented on #2130
@johndmulhausen OK. It is because when I was about to submit my PR, I saw @bhavin192 had already submitted one. So, I think it's breaking rules if I submit mine again. Anyway, this issuse is resolved.

[2017-04-19 02:08] alfonso-cabrera commented on #1030
Claimed.

[2017-04-19 03:53] clocklear commented on #2167
Claimed.

[2017-04-19 03:55] bhavin192 commented on #2130
@scjane I was not aware of dibs, Sorry about that.

[2017-04-19 04:00] scjane commented on #1477
The "Set metadata on a service (-l, –label)" section is disaplyed correctly under "Examples", and its anchor is valid now.

![5](https://cloud.githubusercontent.com/assets/25146885/25162756/be221cda-24f7-11e7-91d9-08e9c7c68773.jpg)

This issue can be closed.

[2017-04-19 04:16] alfonso-cabrera commented on #1030
This does not hinder the compose and rails quickstart tutorial. I was able to follow the tutorial and load the welcome page without any issues. Since the tutorial works without this config setting it seems best to not introduce an additional step to the quickstart.

[2017-04-19 04:37] seanf commented on #1670
Thanks!

[2017-04-19 04:50] scjane commented on #2130
@bhavin192 Never mind. Forget it🙂

[2017-04-19 04:56] bhavin192 commented on #2237
I will take this one..

[2017-04-19 06:35] pruggera opened #2891 "I have no clue how to use -e based on this doc"
File: [engine/reference/commandline/exec.md](https://docs.docker.com/engine/reference/commandline/exec/), CC @mstanleyjones

[2017-04-19 06:57] ashishkamat2791 commented on #1946
added to @schwimmfuzz
I will take this up

[2017-04-19 07:37] scjane commented on #1054
@ashishkamat2791 Hi, here's my undrstanding:

- `docker kill` forcibly stops running containers. By default, it sends the `-s KILL` signal even if you only run `docker kill <container_id or container_name>`; that is, `docker kill <container_id or container_name>` and `docker kill -s KILL <container_id or container_name>` works the same way. After running this command for a container, the container

[2017-04-19 09:11] vishnu-narayanan commented on #2223
This might happen mainly due to two reason.
1. There is a container/process using port 80.
Run `netstat -ntlp` to see if port 80 is used.
2. The Docker was not invoked in privileged mode which prevents docker daemon to have networking privileges. Follow the instructions, in [documentation](https://docs.docker.com/docker-for-mac/install/#install-and-run-docker-for-mac) to invoke docker in privilege

[2017-04-19 09:12] vishnu-narayanan commented on #2223
Requesting to close the issue @JimGalasyn @geoidesic @mstanleyjones @unbreakableIce

[2017-04-19 09:52] thatsk opened #2897 "As Flocker has shutdown So you need to add new plugin or provide shared plugin tutorial"
File: [engine/tutorials/dockervolumes.md](https://docs.docker.com/engine/tutorials/dockervolumes/), CC @mstanleyjones

As people are trying to search flocker but flocker has shutdown . So you need to update that

[2017-04-19 11:25] orthros commented on #2012
@allejo no need to be sorry! Glad it got closed 😄

[2017-04-19 11:46] shubheksha commented on #2781
Should I wait for #2795 before working on this?

[2017-04-19 11:59] #847 closed

[2017-04-19 12:03] #2435 closed

[2017-04-19 12:04] johndmulhausen commented on #2435
Points to @shubheksha -- thanks for being responsive to the review feedback. 👍

[2017-04-19 12:06] johndmulhausen commented on #1528
Points to @Rubab-Syed -- thanks!

[2017-04-19 12:06] #1528 closed

[2017-04-19 13:59] #2732 closed

[2017-04-19 14:02] mstanleyjones commented on #1054
@scjane sounds like you have the info to fix this then!

[2017-04-19 14:12] vishnu-narayanan commented on #2891
I'll have a go at this.

[2017-04-19 14:38] gschaetz commented on #2772
I tried as well does not appear to be a broken.  Tried in chrome and safari

[2017-04-19 14:50] chopanpma opened #2900 "The command should say docker load not docker image load"
File: [engine/reference/commandline/image_load.md](https://docs.docker.com/engine/reference/commandline/image_load/), CC @mstanleyjones

the command should say docker load and not docker **image** load

[2017-04-19 15:22] johndmulhausen commented on #2900
Sorry, this doc is correct as-is.

[2017-04-19 15:22] #2900 closed

[2017-04-19 15:22] clocklear commented on #1673
Claimed.

[2017-04-19 16:24] londoncalling commented on #2403
@allejo You are right! Go for it.

[2017-04-19 16:27] londoncalling commented on #2427
@nickjj thanks, I'll make this tweak now

[2017-04-19 16:33] surajnarwade commented on #344
I will pick this up

[2017-04-19 16:55] unbreakableIce commented on #2223
I agree with @vishnu-narayanan  to close this issue . This seems to be an local to the user. I was able to successfully run the command and get the webserver response shown in the documentation .

[2017-04-19 17:04] surajnarwade commented on #1312
I will pick this up

[2017-04-19 17:46] surajnarwade commented on #1678
I will take this up

[2017-04-19 17:53] londoncalling commented on #2427
@nickjj done in new PR ^^ , thanks much

[2017-04-19 17:54] nickjj commented on #2427
Awesome, good job everyone.

[2017-04-19 18:05] mstanleyjones commented on #2675
Sorry @jpooler, this one is back up for grabs!

[2017-04-19 18:14] frankgreco commented on #2897
#dibs

[2017-04-19 18:14] #811 closed

[2017-04-19 18:15] JimGalasyn commented on #825
@shubheksha , how's your progress on this? We'll need to return this to the unclaimed pool for the hackathon by tomorrow, if we don't see movement on this. Thanks!

[2017-04-19 18:17] mstanleyjones commented on #2659
No action for two days, so this is up for grabs again!

[2017-04-19 18:17] mstanleyjones commented on #2589
No action for two days, so this is up for grabs again!

[2017-04-19 18:18] shubheksha commented on #825
This completely fell off my radar though I remember commenting to asking for clarification!
I'm a little confused about which value needs to be changed here. I tried reading the description multiple times but just got more confused. Would really appreciate some help!

[2017-04-19 18:18] JimGalasyn commented on #951
@shubheksha how's your progress on this? We'll need to return this to the unclaimed pool for the hackathon by tomorrow, if we don't see movement. Thanks!

[2017-04-19 18:20] JimGalasyn commented on #967
@scjane  How's your progress on this? We'll need to return this to the unclaimed pool for the hackathon, if we don't see a PR. Thanks!

[2017-04-19 18:23] mstanleyjones commented on #2555
No action for two days, so this is up for grabs!

[2017-04-19 18:24] mstanleyjones commented on #2423
No action for two days, so this is up for grabs again!

[2017-04-19 18:24] #974 closed

[2017-04-19 18:25] surajnarwade commented on #1353
i will work on this

[2017-04-19 18:27] mstanleyjones commented on #2396
No action for two days, so this is up for grabs!

[2017-04-19 18:27] mstanleyjones commented on #2281
No action for two days, so this is up for grabs!

[2017-04-19 18:28] mstanleyjones commented on #2223
Thanks @vishnu-narayanan !

[2017-04-19 18:28] #2223 closed

[2017-04-19 18:28] mstanleyjones commented on #2125
No action for two days, so this is up for grabs!

[2017-04-19 18:29] bhavin192 commented on #2589
@mstanleyjones please consider my comment. It is not possible to do same with Dockerfile as we do while running a container.

Should it be clarified here again? Just copying Note from [here](https://docs.docker.com/engine/tutorials/dockervolumes/#mount-a-shared-storage-volume-as-a-data-volume) will be fine?

[2017-04-19 18:29] shubheksha commented on #2281
@mstanleyjones, a PR is open for this issue.

[2017-04-19 18:30] mstanleyjones commented on #1685
No action for two days, so this is up for grabs!

[2017-04-19 18:30] mstanleyjones commented on #1667
Closed via #2824 and #2825

[2017-04-19 18:30] #1667 closed

[2017-04-19 18:32] mstanleyjones commented on #1499
No action for two days, so this is up for grabs!

However, this may have been addressed by #2882

[2017-04-19 18:32] shubheksha commented on #2125
I'd still like to work on this.

[2017-04-19 18:33] shubheksha commented on #951
I'll fix this!

[2017-04-19 18:34] johndmulhausen commented on #2407
@gabzillah any updates?

[2017-04-19 18:34] mstanleyjones commented on #1319
Thanks @bdwill

[2017-04-19 18:34] #1319 closed

[2017-04-19 18:35] mstanleyjones commented on #1055
No action for two days, so this is up for grabs!

[2017-04-19 18:35] fosk06 opened #2908 "Use official consul docker image in tutorial"
File: [engine/userguide/networking/get-started-overlay.md](https://docs.docker.com/engine/userguide/networking/get-started-overlay/), CC @mstanleyjones
Hello,
Is it possible to have this tutorial with the official consul image?
This tutorial actually work with progrium/consul image wich has an old version of consul.
I tried to do it myself without success.

[2017-04-19 18:36] JimGalasyn commented on #987
@bdwill Thank you for the reply! We were hoping that somebody could write another topic showing the PowerShell workflow, or modify this topic to include it, possibly using the tabs feature (https://github.com/docker/docker.github.io/blob/master/test.md#tabs). This is why we gave it 250 points to fix for the hackathon.

[2017-04-19 18:36] tippexs commented on #357
claimed

[2017-04-19 18:36] frankgreco commented on #2101
#dibs

[2017-04-19 18:37] mstanleyjones commented on #2781
No, you can go ahead with this work, it is only the CSS we are discussing in #2795. The classes will be the same, so the method will be the same.

[2017-04-19 18:38] mstanleyjones commented on #2772
Correct, this is fixed. Thanks @runshenzhu !

[2017-04-19 18:41] mstanleyjones commented on #2281
Whoops, my bad!

[2017-04-19 18:44] mstanleyjones commented on #2127
@johnharris85 17.05 is not out yet, so any docs for it need to go in `vnext-engine`. For posterity for 17.03 (which is LTS so will be supported for a year), it would be great to have the current behavior documented. Then it will be correct when archived.

Want to take it on?

[2017-04-19 18:46] mstanleyjones commented on #1977
Thanks @bdwill !

[2017-04-19 18:46] #1977 closed

[2017-04-19 18:48] mstanleyjones commented on #1673
@thaJeztah do you have any thoughts on this?

[2017-04-19 18:49] mstanleyjones commented on #1665
Thanks @alfonso-cabrera

[2017-04-19 18:49] #1665 closed

[2017-04-19 18:49] mstanleyjones commented on #1539
Thanks @jadametz

[2017-04-19 18:49] #1539 closed

[2017-04-19 18:52] jpooler commented on #2423
@mstanleyjones Sorry about the lack of movement on these, overcommitted myself a bit.

https://github.com/docker/docker.github.io/pull/2910 includes this issue.

[2017-04-19 18:56] johnharris85 commented on #2127
Sure, looks like it's in [moby/moby](https://github.com/moby/moby/blob/master/docs/reference/commandline/build.md) though.

[2017-04-19 18:58] johndmulhausen commented on #2423
Thanks for jumping back on it, @jpooler :)

[2017-04-19 19:00] JimGalasyn commented on #825
Okay, I'll ping the engineers to see if we can get some clarity.

[2017-04-19 19:01] londoncalling commented on #2098
Fixed by PR #2893

[2017-04-19 19:01] #2098 closed

[2017-04-19 19:03] jpooler commented on #2555
Added to PR: https://github.com/docker/docker.github.io/pull/2913

[2017-04-19 19:04] tippexs commented on #2589
claimed

[2017-04-19 19:12] surajnarwade commented on #2468
I forget to mention, I will pick this up, isn't this issue for hackathon ?

[2017-04-19 19:12] JimGalasyn commented on #951
Cool, thanks!

[2017-04-19 19:14] mstanleyjones commented on #2589
@bhavin192 were you intending to claim this? If so, you were first. If not, please let @tippexs know they can have it.

[2017-04-19 19:16] mstanleyjones commented on #2127
Yes, if it is in there, then our `vnext-engine` branch will vendor it in, and no action needed here. If you want to correct the description of behavior in the upstream repo, please raise your PR there against their `17.03.x` branch instead of their `master` and make note of that in the PR comments.

[2017-04-19 19:18] #2468 closed

[2017-04-19 19:18] aboch commented on #933
@shubheksha The submitter is pointing out that the sentence
[code]
has some incorrect info.

It suggests that if you reserve `/78` subnets for the docker hosts, you will be able to use 4096 hosts, and that each host will be given 16 `/80` subnets to use for container networks.

This is incorrect, given your env is given a /64, you can carve 2^14 `/78` host subnets, and only 4 `/80` container subne

[2017-04-19 19:19] #998 closed

[2017-04-19 19:24] jpooler commented on #2675
Added to PR https://github.com/docker/docker.github.io/pull/2916

[2017-04-19 19:24] bhavin192 commented on #2589
@mstanleyjones yes, I want to claim it.

[2017-04-19 19:32] NonCreature0714 commented on #2379
Checking this out! @johndmulhausen @mstanleyjones @londoncalling

[2017-04-19 19:33] johndmulhausen commented on #2675
@jpooler and @constanzekratel both can split 25 points each.

[2017-04-19 19:33] #2675 closed

[2017-04-19 19:38] jpooler commented on #2659
Referenced here: https://github.com/docker/docker.github.io/pull/2918

[2017-04-19 19:38] johndmulhausen commented on #2396
@alvin319 get 25 points for discovering this was a no-op

[2017-04-19 19:38] #2396 closed

[2017-04-19 19:39] jmaitrehenry commented on #2478
I think it's for managing a docker host manually provisioned with the same workflow as docker host created by docker machine.

For resolving this issue, I purpose to rewrite:

For something like:

[2017-04-19 19:39] jmaitrehenry commented on #2478
More information about the none driver: https://github.com/docker/machine/issues/2667

[2017-04-19 19:39] clocklear commented on #995
Claimed.

[2017-04-19 19:40] joaofnfernandes commented on #443
Reopening this since #2875 is not yet merged.

[2017-04-19 19:40] alvin319 commented on #2398
I'll try to tackle this one!

[2017-04-19 19:41] londoncalling commented on #2379
@NonCreature0714 adding hackathon labels for you.

[2017-04-19 19:42] aboch commented on #825
Yes, the previous sentence
[code]
seems in fact to imply the writer wanted to show the use case of further subnet split inside the host.

So, IMO, not only the following text whould use `/64` for `eth0`, like the submitter requested, but also the picture should be changed, the host `eth0` address should be `2001:db8:23:42::1/64`

[2017-04-19 19:42] #2659 closed

[2017-04-19 19:45] prashant171992 commented on #1685
I'm taking this up.

[2017-04-19 19:46] #2783 closed

[2017-04-19 19:46] #1683 closed

[2017-04-19 19:49] #2281 closed

[2017-04-19 19:53] jpooler commented on #1486
@arun-gupta would something like https://github.com/julianespinel/stockreader/wiki/Deploy-to-AWS-using-docker-machine-and-docker-compose suffice? I would prefer to give credit to the author but not sure the process on that.

[2017-04-19 19:58] surajnarwade commented on #2768
@briantd , its there please check https://docs.docker.com/engine/reference/commandline/dockerd/#description

[2017-04-19 20:04] constanzekratel commented on #2237
I already took this one and submitted PR: https://github.com/docker/docker.github.io/pull/2921

[2017-04-19 20:05] arun-gupta commented on #1486
That would be a good app.

I don't see a need for Docker Machine though. https://github.com/julianespinel/stockreader/blob/master/docker-compose.yml should be sufficient IMHO.

[2017-04-19 20:08] surajnarwade commented on #2709
@JimGalasyn  @mstanleyjones where to point or write this doc ?

[2017-04-19 20:09] jmaitrehenry commented on #2113
I just search for relative link but don't find any broken link, I think we could close this issue.

[2017-04-19 20:13] #2478 closed

[2017-04-19 20:15] #443 closed

[2017-04-19 20:16] constanzekratel commented on #1465
Submitted a new PR for the same fix for UCP version 2.1: https://github.com/docker/docker.github.io/pull/2924

[2017-04-19 20:16] #2555 closed

[2017-04-19 20:17] jpooler commented on #1699
@joaofnfernandes Any preference on the proxy to use? I'd think an example with https://github.com/containous/traefik or nginx would suffice? Or were you thinking more along the lines of how to set it up for a physical device?

[2017-04-19 20:18] clocklear commented on #2781
@shubheksha are you still working on this?  This issue hasn't been marked as claimed.

[2017-04-19 20:21] tippexs commented on #2781
claimed

[2017-04-19 20:22] surajnarwade opened #2925 "Modify commands in completion"
### Problem description

Add `$` before commands
### Problem location

- I saw a problem on the following URL: <URL>
[compose/completion.md](https://docs.docker.com/compose/completion/)
- I couldn't find the information I wanted. I expected to find it near the following URL: <URL>

- Other: <DETAILS>

### Project version(s) affected

### Suggestions for a fix
Add `$` in commands

[2017-04-19 20:26] constanzekratel commented on #777
I'm going to start working on this one

[2017-04-19 20:28] prashant171992 commented on #2113
both of these links redirect to https://docs.docker.com/docker-for-mac/

[2017-04-19 20:34] #1465 closed

[2017-04-19 20:37] prashant171992 commented on #2026
I'm working on this.

[2017-04-19 20:39] joaofnfernandes commented on #1699
Oh... This is for the case where I deploy Docker Trusted Registry, but all communications between clients and DTR go through a proxy. So I need to configure DTR for this.
This is not about deploying your own proxy.

[2017-04-19 20:42] mstanleyjones commented on #1499
Thanks @clocklear

[2017-04-19 20:42] #1499 closed

[2017-04-19 20:46] surajnarwade opened #2934 "separate the links"
### Problem description

### Problem location
separate out the link `docker engine` and `docker-compose`

- I saw a problem on the following URL: <URL>
https://docs.docker.com/compose/gettingstarted/
- I couldn't find the information I wanted. I expected to find it near the following URL: <URL>

- Other: <DETAILS>

### Project version(s) affected

### Suggestions for a fix

[2017-04-19 20:48] PatrickLang commented on #1673
Here's a few approaches:

1. Create a scheduled task that runs at system boot
2. Create a scheduled task that runs at login. This could be nice if you wanted something like Jekyll running when you're logged in
3. Create a Windows service wrapper that translates service control manager requests to `docker run` and `docker stop` commands

1 & 2 are easy with https://msdn.microsoft.com/en-us/library/

[2017-04-19 20:50] joaofnfernandes commented on #2026
@prashant171992 let me know if you need help deploying DDC to test this out

[2017-04-19 20:55] prashant171992 commented on #2026
it can be made open for all , though will work on it tomorrow morning (midnight here).

[2017-04-19 20:58] #2398 closed

[2017-04-19 21:01] jmaitrehenry commented on #1840
From slack:
me: Can we simplify the example by using nginx or redis?
johnharris85: ye nginx or tomcat or apache or whatever is probably a good example image for that

[2017-04-19 21:07] clocklear commented on #1673
IMO, scheduled tasks are not the solution here.  The closest analog to `systemd`, `upstart`, or `supervisor` in the Windows world is a service, but without the ability to run separate commands for startup/shutdown in native services (read: non third-party assisted services), this isn't really a solution either.  It could be possible to do create a system service by using a third-party wrapper, but

[2017-04-19 21:13] alvin319 commented on #967
I'll try to tackle this one!

[2017-04-19 21:13] PatrickLang opened #2936 "Clarify -m / --memory usage on Windows with & without isolation"
File: [engine/reference/commandline/run.md](https://docs.docker.com/engine/reference/commandline/run/), CC @mstanleyjones

Memory limits work differently on Windows depending on whether or not you're using `--isolation=hyperv`

I think it would be good to add a brief note clarifying that:

- `-m` or `-memory` do set an upper limit on memory usage for both process and hyperv isolation
- With proces

[2017-04-19 21:22] mstanleyjones commented on #2936
Also relates to #2854

[2017-04-19 21:22] NonCreature0714 commented on #2379
This is taking me a while to work through, I'm going to have to take this home tonight so I can connect to my own network.

[2017-04-19 21:26] mstanleyjones commented on #2113
Thanks @jmaitrehenry

[2017-04-19 21:26] #2113 closed

[2017-04-19 21:27] stevenhanna6 commented on #1978
I'll take a shot at this one, claimed

[2017-04-19 21:28] mstanleyjones commented on #2781
@shubheksha had you intended to claim this or started work on it yet?

[2017-04-19 21:29] mstanleyjones commented on #2709
Sorry, I don't understand the question you are asking. I think this would be a brand new topic.

[2017-04-19 21:32] mstanleyjones commented on #2768
Yes, it is there. Sorry for the confusion.

[2017-04-19 21:32] #2768 closed

[2017-04-19 21:34] jmaitrehenry commented on #2643
PR open on moby project: https://github.com/moby/moby/pull/32722

[2017-04-19 21:39] alvin319 commented on #967
I have created a PR in moby to add this example in the documentation.

[2017-04-19 21:51] allejo opened #2938 "Mobile navbar disappears on mobile while scrolling"
While scrolling on the mobile version of the site, the navbar disappears and then reappears. This only occurs on the homepage due to Bootstrap's "affix" functionality

![apr-19-2017 14-50-02](https://cloud.githubusercontent.com/assets/1246453/25203807/83b09d84-250f-11e7-9235-17a735e77b90.gif)

[2017-04-19 22:00] #218 closed

[2017-04-19 22:04] t3h2mas commented on #1840
Claiming

[2017-04-19 22:05] #1353 closed

[2017-04-19 22:29] t3h2mas commented on #1840
https://github.com/docker/docker.github.io/pull/2939

[2017-04-19 22:53] jmaitrehenry commented on #777
@constanzekratel do you need some help? I just install Kitematic

[2017-04-19 23:02] londoncalling commented on #777
@jmaitrehenry I would go ahead and start working on it, create a PR etc and you guys can either share the work/points or whomever gets some good changes in first can have it. Just note that we rely on Netlify previews as part of our build check processs and it's down right now so that will stall us being able to merge PRs until it's back up. However we can still look at the updates you make to the

[2017-04-20 01:30] stevenhanna6 commented on #2232
Just noticed this might be a duplicate fix for #2403 and #2002

[2017-04-20 04:04] jmaitrehenry commented on #777
I just push the last images!

[2017-04-20 04:10] PatrickLang commented on #2936
Alright, fixed up my PR and gave Gordon some extra spinach

[2017-04-20 04:38] scjane commented on #1054
@mstanleyjones I think we can add information in the "Extended Desciption" section referring that a  container can be killed by its ID or name using this command, as the "docker attach" page does, as shown in the following figure.
![155](https://cloud.githubusercontent.com/assets/25146885/25212798/3b6e79dc-25bf-11e7-89a1-bae9643dc258.jpg

Is this the file to be editted?https://github.com/moby/moby

[2017-04-20 04:58] #777 closed

[2017-04-20 05:15] #1678 closed

[2017-04-20 05:19] surajnarwade commented on #2709
@mstanleyjones , where should I put this document, I mean in which directory

[2017-04-20 05:20] surajnarwade commented on #2934
@londoncalling,   can you please label this as hackathon ?

[2017-04-20 05:22] surajnarwade commented on #2925
@londoncalling, hackathon label please

[2017-04-20 05:27] allejo commented on #2232
Related PR is #2860, here's the Netlify test deployment to see if the issue has been fixed for you:

https://deploy-preview-2860--docker-docs.netlify.com/

[2017-04-20 05:48] londoncalling commented on #2934
@surajnarwade I just changed some of these the opposite of what you are doing here in another file. Here is my thinking on this:
- If a code example is showing a one-line command with no output, then I think it is better _not_ to show the command prompt. That way users can simply copy-paste the command. For example:

[code]

- If a code example is showing an example command with the output, then I

[2017-04-20 05:56] surajnarwade commented on #2934
@londoncalling make sense, but which file you are pointing ?

[2017-04-20 05:57] surajnarwade commented on #2934
@londoncalling got you, shall I edit for the same ?

[2017-04-20 06:03] londoncalling commented on #2934
@surajnarwade yes that would be great. (The other files I'm working on are visible on PR #2942 , am about to merge it.)

I wouldn't go tackling all docs for this, but if you already see other problems in a file, and see this issue as well, then you can fix it along with the primary issues.

[2017-04-20 06:12] londoncalling commented on #2934
@surajnarwade , you can actually see @johndmulhausen taking this approach in the new getting started example, e.g., https://docs.docker.com/get-started/part2/

[2017-04-20 06:14] surajnarwade commented on #2934
@londoncalling got it :)

[2017-04-20 06:45] prashant171992 commented on #2709
@JimGalasyn  @mstanleyjones will it be useful (https://docs.docker.com/engine/reference/commandline/tag/) ? It tells how to tag an image with respect to the repository and version

[2017-04-20 06:47] bhavin192 commented on #2589
These files cannot be edited here so I created PR https://github.com/moby/moby/pull/32735

[2017-04-20 06:54] prashant171992 commented on #2580
I'm looking into this.

[2017-04-20 07:24] akbar-10p commented on #2470
1. curl -X GET \
  https://<dtr-url>/api/v0/openid/begin \
  -H 'accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8' \
  -H 'accept-encoding: gzip, deflate, br' \
  -H 'content-type: application/json' \
  -H 'host: <dtr-url>' \
  -H 'upgrade-insecure-requests: 1'

2. curl -X POST \
  https://<dtr-url>:444/enzi/v0/id/login \
  -H 'accept: text/html,application/xhtml+xml,applica

[2017-04-20 08:18] surajnarwade commented on #2366
I will take this up, @londoncalling `hackathon` label :)

[2017-04-20 08:44] shubheksha commented on #2781
@mstanleyjones, yes I've started work on this.

[2017-04-20 08:47] shubheksha commented on #761
Any update on this?

[2017-04-20 08:57] krasi-georgiev commented on #2232
yes this one work ok

[2017-04-20 08:58] shubheksha commented on #951
This needs to be fixed in https://github.com/moby/moby I think?

[2017-04-20 09:31] mcctomsk opened #2950 "container_name option"
Hello.
File: [compose/compose-file/index.md](https://docs.docker.com/compose/compose-file/), CC @londoncalling

$ docker-compose --version
[code]
In documentation you wrote:

But when I've tried to use container_name option I've got next warning:
[code]
Probably there need to add your standard note too:

[2017-04-20 09:39] vishnu-narayanan commented on #2891
https://github.com/moby/moby/pull/32739
Unable to submit PR to this repo. @JimGalasyn

[2017-04-20 10:35] panuhorsmalahti commented on #1356
That explanation by @matthughes is problematic, since it forces users to accept new software licenses / end user license agreements. Users should have the possibility to download older versions with different EULAs, even if they have security issues.

[2017-04-20 11:17] surajnarwade opened #2951 "show output on docker unpause"
### Problem description

### Problem location

https://docs.docker.com/engine/reference/commandline/unpause/

- I saw a problem on the following URL: <URL>

- I couldn't find the information I wanted. I expected to find it near the following URL: <URL>

- Other: <DETAILS>

### Project version(s) affected

### Suggestions for a fix

as `$ docker unpause my_container` is written as command, we shoul

[2017-04-20 11:18] surajnarwade commented on #2951
@londoncalling @johndmulhausen thoughts, hackathon :)

[2017-04-20 11:25] surajnarwade opened #2953 "add example to docker top"
### Problem description

### Problem location

https://docs.docker.com/engine/reference/commandline/top/

- I saw a problem on the following URL: <URL>

- I couldn't find the information I wanted. I expected to find it near the following URL: <URL>

- Other: <DETAILS>

### Project version(s) affected

### Suggestions for a fix

add example for docker top command

[2017-04-20 11:31] surajnarwade commented on #2953
@londoncalling @johndmulhausen thoughts and hackathon

[2017-04-20 11:34] mcctomsk opened #2955 "Misprint in a filter name"
File: [engine/reference/commandline/stack_ps.md](https://docs.docker.com/engine/reference/commandline/stack_ps/), CC @mstanleyjones

Correct name of last filter in list is **desired-state**
And it will be good, or add there more information about using this filter, or place link to actually the same information in this article:
https://docs.docker.com/engine/reference/commandline/service_ps/#filte

[2017-04-20 12:27] johndmulhausen commented on #2951
Hey @surajnarwade -- quick note, only bugs that we have labeled "hackathon" count towards the hackathon. You are free to file bugs and PRs, though. :)

[2017-04-20 12:29] surajnarwade commented on #2951
@johndmulhausen , no  worries :)

[2017-04-20 12:56] londoncalling commented on #761
No response from Dev yet .. someone else at Hackathon was looking at it as
well but I don't think any of us is going to figure it out without input
from Dev.

On Thu, Apr 20, 2017 at 3:47 AM Shubheksha Jalan <notifications@github.com>
wrote:

[2017-04-20 13:01] bhavin192 commented on #2955
The file needs examples also!!
I will do it.

[2017-04-20 13:53] jmaitrehenry commented on #1580
I will start working on it

[2017-04-20 13:54] constanzekratel commented on #777
That's great. I still have an outstanding PR, not for images but for minor fixes I made to formatting. I'll be submitting that today.

[2017-04-20 13:57] surajnarwade commented on #344
@londoncalling suggestions

[2017-04-20 14:04] morrisalp opened #2963 "docker-compose tutorial requires modifications to deploy app"
### Problem description

I have been following the instructions in the "Get started with Docker Compose" tutorial and found that I needed to modify the instructions slightly to get the app to deploy properly. Two modifications are needed:

1. If I follow the instructions as-is to create the contents of composetest/ and then run *docker-compose up*, I get the following error message:

[code]

   As

[2017-04-20 15:09] joaofnfernandes commented on #2781
#2937 relates to this

[2017-04-20 15:18] mstanleyjones commented on #2868
Hey @shubheksha sorry about this, but wea re going to take the fix in #2879 for this, because it is already ready to merge. You have done fantastic work on a lot of issues so far and we really appreciate it!

[2017-04-20 15:18] jcberthon commented on #2098
I cannot reopen this issue, but I'm going to propose a PR for this issue with slightly different changes which in my opinion are not perfect but getting closer what it should be.

[2017-04-20 15:26] shubheksha commented on #2868
This could've been communicated when the changes were approved itself because I wasted a ton of time opening a new PR for this same issue as it was decided that it would be a collaborative effort.

[2017-04-20 15:28] #2772 closed

[2017-04-20 15:52] vikstrous commented on #1699
Actually this issue is about --http-proxy and --https-proxy. They allow you to use a proxy for DTR's connection to external services listed in https://docs.docker.com/datacenter/dtr/2.2/guides/admin/install/install-offline/#preventing-outgoing-connections

[2017-04-20 16:04] mstanleyjones commented on #2709
#2944 should not be merged until the `push` support is merged into `docker/docker`.

[2017-04-20 16:08] surajnarwade commented on #2709
@mstanleyjones what should I add more ?

[2017-04-20 16:13] mstanleyjones commented on #2643
Getting tech review on the upstream PR now.

[2017-04-20 16:15] mstanleyjones commented on #2637
@wcgcoder please don't use issue numbers in the commit messages themselves, but reference it when you open the PR, as `Fixes #2637`. Please make sure to amend your commit messages before creating the PR.

[2017-04-20 16:15] jcberthon commented on #2098
@londoncalling @sandor-juhasz @NonCreature0714

Perhaps you could all have a look at my 2 PRs and let me know what you think?

One is about consistency so that the Debian specific parts stays pure Debian (and not a mixture of Debian/Raspbian).

The other PR is about correcting the Raspbian specific part. I have checked the `.deb` package content and there is the `/etc/bash_completion.d/docker` fil

[2017-04-20 16:25] michael-holzheu opened #2967 "Doc: Fix terminology: "Base image" vs. "Parent Image""
From the documentation of [Base image](https://docs.docker.com/search/?q=base%20image):

From the documentation of [Dockerfile](https://docs.docker.com/engine/reference/builder):

Since the image that is specified via FROM can already be a derived image,  it is probably better to say:

Besides this, there are multiple other occurrences of the term "base image" that should be checked.

And also che

[2017-04-20 16:30] mstanleyjones commented on #2589
Being reviewed upstream. :)

[2017-04-20 16:36] #933 closed

[2017-04-20 16:41] mstanleyjones commented on #2587
Thanks @gschaetz

[2017-04-20 16:41] #2587 closed

[2017-04-20 16:44] #2423 closed

[2017-04-20 16:46] surajnarwade commented on #1481
claiming this :)

[2017-04-20 16:51] JimGalasyn commented on #176
@johnharris85 What's the status on this? I'll need to put it back into the unclaimed pool if we don't see a PR in a couple of hours.

[2017-04-20 16:59] mstanleyjones commented on #2643
@jmaitrehenry thanks for your work. You'll get the points even though we had to close the upstream PR!

[2017-04-20 16:59] #2643 closed

[2017-04-20 17:02] mstanleyjones commented on #2407
No PR for this yet. @gabzillah @scjane if you have something ready to go, you can feel free to submit a PR! This is the last day for the hackathon! I'm going to go ahead and clear the `claimed` label until we have a PR in the pipeline.

[2017-04-20 17:02] shubheksha commented on #825
@aboch, @JimGalasyn - can you please confirm if this is correct or I need to make other changes?
<img width="569" src="https://cloud.githubusercontent.com/assets/7693422/25243017/3b80c47a-2619-11e7-8bae-f77c713f3486.png">

[2017-04-20 17:05] mstanleyjones commented on #2232
Thanks @allejo

[2017-04-20 17:05] #2232 closed

[2017-04-20 17:06] #2167 closed

[2017-04-20 17:07] #2126 closed

[2017-04-20 17:07] #1097 closed

[2017-04-20 17:08] #2125 closed

[2017-04-20 17:08] mstanleyjones commented on #2101
ANy update, @frankgreco ? You still have to the end of Friday!

[2017-04-20 17:09] aboch commented on #825
@shubheksha The containers' `eth0` address and mask should be `/80` as before.
Only the `host1` `eth0` mask needed to change to `/64`

[2017-04-20 17:10] #2096 closed

[2017-04-20 17:13] shubheksha commented on #825
Alright, updated the image and pushed the changes, PTAL :)

[2017-04-20 17:14] mstanleyjones commented on #2088
@bdwill did you intend to open a PR? Please open a PR instead of referencing the issue by ID in the commit message itself. To open a PR, go to the **Pull Requests** tab, choose **New pull request**,  choose "across forks", and then select your fork and branch.

[2017-04-20 17:17] mstanleyjones commented on #2005
Being reviewed upstream.

[2017-04-20 17:20] stevenhanna6 opened #2969 "Lots of spelling mistakes"
### Problem description
Found a bunch of spelling mistakes across 40 documents

### Suggestions for a fix
Will upload fix

[2017-04-20 17:28] mstanleyjones commented on #1946
Did you mean to submit a pull rquest for this? Make sure you submit the PR instead of referring to the issue in the commit message.

[2017-04-20 17:30] mstanleyjones commented on #1759
@thaJeztah WDYT? I don't think the things in the Dockerfile usually have the equals signs. Are labels different?

[2017-04-20 17:31] mstanleyjones commented on #1742
@joaofnfernandes what is the status of this? I am not sure why I added `claimed`... it doesn't seem accurate.

[2017-04-20 17:35] mstanleyjones commented on #1673
I suspect that this is outside the scope of Docker docs for now. :( Thanks for doing the research, @clocklear, you will get the points!

[2017-04-20 17:35] #1673 closed

[2017-04-20 17:38] mstanleyjones commented on #1400
@scjane I can't find #32684. Can you find the correct pull request # so you will get credit?

[2017-04-20 17:38] mstanleyjones commented on #1312
@surajnarwade please raise a pull request and do not reference the issue number in the Git commit message. Thanks!

[2017-04-20 17:40] surajnarwade commented on #1312
@mstanleyjones where ?

[2017-04-20 17:53] jmaitrehenry commented on #1805
I take it!

[2017-04-20 18:12] wcgcoder commented on #2637
@mstanleyjones I've already submitted the PR and have been working with @joaofnfernandes on the issue. At first glance, it looks like I'd need to recreate the PR as I can't find a way of editing the messages within github, and I don't know how a force push with the modified messages would look in github.

What do you think I should do?

Also, if you could be so kind as to explain why you don't wha

[2017-04-20 18:59] mstanleyjones commented on #1055
We decided not to merge the PR, but you get the points. thanks @jadametz !

[2017-04-20 18:59] #1055 closed

[2017-04-20 19:14] johnharris85 commented on #176
Sorry @JimGalasyn, will commit before I take off :) (should be in the next 30 mins).

[2017-04-20 19:15] mstanleyjones commented on #1054
@scjane that's the one! But do it in the `master` branch and make a note that it should be cherry-picked.

[2017-04-20 19:15] mstanleyjones commented on #1030
Thanks @alfonso-cabrera

[2017-04-20 19:17] #1030 closed

[2017-04-20 19:20] mstanleyjones commented on #1017
Thanks @bdwill and @jmaitrehenry I think you should both get the points for this!

[2017-04-20 19:24] #995 closed

[2017-04-20 19:28] mstanleyjones commented on #967
Reviewing upstream. Looks great!

[2017-04-20 19:29] mstanleyjones commented on #951
Yes, @shubheksha :) In the `docs/reference/commandline/` directory.

[2017-04-20 19:44] johndmulhausen commented on #2969
I'm assigning hackathon points to this because the PR is so good. Thanks, @stevenhanna6 :)

[2017-04-20 19:48] #1685 closed

[2017-04-20 20:00] #2934 closed

[2017-04-20 20:28] #2637 closed

[2017-04-20 20:29] #1312 closed

[2017-04-20 20:29] #2580 closed

[2017-04-20 20:31] mstanleyjones commented on #2868
Oh, I'm sorry I was out of the loop. :(

[2017-04-20 20:32] #2868 closed

[2017-04-20 20:35] Rubab-Syed commented on #2192
Hey! I want to work on this. Do I have to modify the diagram from the above link?

[2017-04-20 20:36] mstanleyjones commented on #2025
I'm raising the points of this because we discovered that a whole new file needed to be committed to the upstream moby repo!

[2017-04-20 20:37] mstanleyjones commented on #2192
You can reuse them!

[2017-04-20 22:26] #2969 closed

[2017-04-21 00:31] NonCreature0714 commented on #2098
@jcberthon I'll take a look for sure! 😎

[2017-04-21 02:22] surajnarwade commented on #2967
@londoncalling this is nice catch, I am claiming this

[2017-04-21 02:45] scjane commented on #1400
@mstanleyjones Sorry, I didn't say it clearly that the PR is in another repository. This one: https://github.com/moby/moby/pull/32684

[2017-04-21 02:48] surajnarwade commented on #2967
@michael-holzheu , I am not able to find a file regarding dockerfile reference in repo, can you point me towards that ?
cc @londoncalling

[2017-04-21 05:34] jennylia commented on #2285
ah I just saw this comment but I think @jmaitrehenry's PR address this pretty well.
https://github.com/docker/docker.github.io/pull/2974/files

I give @jmaitrehenry's PR a  :+1

[2017-04-21 05:38] nicolechan1224 opened #2977 "1212"
### Problem description

### Problem location

- I saw a problem on the following URL: <URL>

- I couldn't find the information I wanted. I expected to find it near the following URL: <URL>

- Other: <DETAILS>

### Project version(s) affected

### Suggestions for a fix

[2017-04-21 05:39] nicolechan1224 commented on #2977
192.168.73.96

[2017-04-21 05:50] NonCreature0714 commented on #2379
Still working through this! It's a tad more time consuming that I expected.

[2017-04-21 07:10] martencassel commented on #2637
The new diagram and UCP cluster definition is much more brief and less overwhelming.
Its also better aligned with the other terminology and description of UCP and its architecture in the reference architecture docs.

If the goal of a person who wants to setup UCP this brief overview of the system is good.. but i assume at first glans one would skim the list of internal containers... and then jump

[2017-04-21 08:07] michael-holzheu commented on #2967
Not sure what you mean with "file". I just referred to the web pages.

[2017-04-21 08:13] surajnarwade commented on #2967
@michael-holzheu , file as in markdown file for that page in repo

[2017-04-21 08:13] yurtesen opened #2978 "Tag 2.7-slim not found in repository docker.io/library/python"
At : https://docs.docker.com/get-started/part2/

First time I ran docker build
[code]

Second time it went through. I am not sure what was wrong? This seem to be a problem in docker itself perhaps? or bad error message? problem at docker hub?

Unfortunately it happened only once, I think the problem could have been a temporary network error, but the error message is confusing if that was the case.

[2017-04-21 08:33] thunder1902 opened #2979 "Empty Folder after "docker run -v""
Hi,

i have on my Raspberry Pi docker.

Now i create a Dockerfile:

**FROM resin/rpi-raspbian:jessie-20160831
RUN mkdir /myvol
RUN echo "hello world" > /myvol/greeting
VOLUME /myvol**

After run the Container with:

`docker run -d -v </emptyDir>:/myvol <image>  `

the Directory <emtpyDir> was created, but empty.  (outside of the Container in <emptyDir>.)

<emptyDir> is  /home/pi/myvol on my RPI...

[2017-04-21 08:49] yurtesen opened #2980 "Ubuntu 17.04 impossible to install following documentation"
At: https://docs.docker.com/engine/installation/linux/ubuntu/
It says :  `Older versions of Docker were called docker or docker-engine. If these are installed, uninstall them`

However on Ubuntu 17.04 the name of the package is `docker.io`

apt-get can't update or install docker-ce package
[code]

https://download.docker.com/linux/ubuntu/dists/zesty does NOT exist.

[2017-04-21 08:52] yurtesen opened #2981 "Impossible to follow documentation examples on Ubuntu 17.04"
Ubuntu 17.04 comes with docker v1.12.6

It is impossible to use docker repository due to:
https://github.com/docker/docker.github.io/issues/2980

When following the documentation examples at:
https://docs.docker.com/get-started/part3/#docker-composeyml

One gets an error:
[code]

I am not sure if documentation should be sectioned by version or ? I think the stack command was added in 1.13? How doe

[2017-04-21 09:58] yurtesen opened #2982 "Get started needs to tell you to run docker swarm init upfront"
At: https://docs.docker.com/get-started/part3/#docker-composeyml

I installed fresh Ubuntu 16.04.2 and installed docker-ce using instructions `Docker version 17.03.1-ce, build c6d412e`

After creating the yml file,  I get error when trying to follow instructions:

[code]

[2017-04-21 10:45] yurtesen opened #2983 "Can't deploy service from documentation"
I pushed the friendlyhello to docker hub and created docker-compose.yml on freshly installed ubuntu 16.04.2 with docker  17.03.1-ce, build c6d412e. The only thing which I had to do which was not in documentation was to run `docker swarm init` because of #2982

Here is full output of test from scratch. As you can see, image works by itself but not when used with stack as service:
[code]

[2017-04-21 11:05] chandruk1991 opened #2984 "503 at /swarm/discovery/https://docs.docker.com/swarm/discovery/"
URL: https://discovery.hub.docker.com/

[2017-04-21 12:01] michael-holzheu commented on #2967
So your question is "where is the markdown file for https://docs.docker.com/engine/reference/builder", right?
I checked out https://github.com/docker/docker.github.io but couldn't not find the markdown file either.

[2017-04-21 12:04] michael-holzheu commented on #2967
I think it is in the docker repository: https://github.com/moby/moby/blob/master/docs/reference/builder.md

[2017-04-21 14:42] stevenhanna6 commented on #2592
Claimed,

I tried to reproduce what occurred using a fresh install with the same switch name "virtualSwitchAndBridge".

I did not reboot as the example suggested to see if maybe this is what caused the issue reported. This did not get me hung up on "waiting for vm to start" as the example alluded to. Everything in the example worked without any issues and I was able to create all three machines.

[2017-04-21 15:20] dsheets commented on #2199
This seems to be mostly fixed but in FF 52 on OS X 10.11.6 it still happens when you change the anchor in the URL bar and hit enter. It works on page load and on navigation bar clicking but not on in-page manual navigation. It may also be using JavaScript so I'm not sure how degraded the experience is for NoScript users or if we care about them (requiring JS to read docs seems a bit OTT but maybe

[2017-04-21 15:21] yallop opened #2985 "Front page broken in firefox: image missized"
### Problem description

The hackathon image is currently displayed at an enormous size on the front page.

### Problem location

- I saw a problem on the following URL: https://docs.docker.com/

Here's a screenshot:

![firefox-frontpage-800](https://cloud.githubusercontent.com/assets/1736496/25284298/81d0133c-26ae-11e7-8134-e22f059668e8.png)

[2017-04-21 15:55] #2237 closed

[2017-04-21 15:59] johndmulhausen commented on #2897
Points to @frankgreco

[2017-04-21 15:59] #2897 closed

[2017-04-21 16:04] #2403 closed

[2017-04-21 16:06] johndmulhausen commented on #2232
Full points to @allejo, and 25 bonus points to @stevenhanna6 for the attempt.

[2017-04-21 16:07] johndmulhausen commented on #2403
Points to @allejo for #2860

[2017-04-21 16:17] #2925 closed

[2017-04-21 17:11] joaofnfernandes commented on #1742
Yup, I removed the `claimed` label since no one had claimed it.

[2017-04-21 17:12] joaofnfernandes opened #2986 "DTR Upgrade Docs No Mention of Backup"
@mark-church commented on [Mon Mar 20 2017](https://github.com/docker/dhe-deploy/issues/4895)

### What's the problem/feature request?
There is no mention of backups in the DTR upgrade docs. Field best practices always recommends doing a backup before an upgrade because many customers do not take backups or do so irregularly. A bad upgrade without a backup could result in customer data loss. Can w

[2017-04-21 17:26] #1946 closed

[2017-04-21 17:59] johndmulhausen commented on #1400
Looks like moby/moby#32684 got merged. Thanks, @scjane!

[2017-04-21 17:59] #1400 closed

[2017-04-21 18:00] johndmulhausen commented on #1477
Thanks, @scjane -- you still get 25 points for validating that it was fixed. :)

[2017-04-21 18:00] #1477 closed

[2017-04-21 18:02] johndmulhausen commented on #2192
@Rubab-Syed Any progress? All you should need to do is just slot in the existing images!

[2017-04-21 18:03] #1978 closed

[2017-04-21 18:17] mstanleyjones commented on #2285
Credit should be split between @jennylia and @jmaitrehenry for this one!

[2017-04-21 18:26] jmaitrehenry commented on #2285
No problem!

[2017-04-21 18:40] mstanleyjones commented on #2025
@michaelspets and @jmaitrehenry share this one.

[2017-04-21 18:46] joaofnfernandes commented on #2977
@nicolechan1224 I'm closing this issue since it doesn't have a description of something broken in the docs. Feel free to open more issues if you find anything wrong 🙃

[2017-04-21 18:46] #2977 closed

[2017-04-21 18:57] #344 closed

[2017-04-21 18:59] londoncalling commented on #176
@surajnarwade if you want another Hackathon bug, I just removed `claimed` from this one as it was never addressed

[2017-04-21 19:02] johnharris85 commented on #176
@londoncalling it was fixed in #2972 :)

[2017-04-21 19:04] londoncalling commented on #176
@johnharris85 nice, thanks!

[2017-04-21 19:05] londoncalling commented on #176
Closing this issue as it is fixed per #2972

[2017-04-21 19:05] #176 closed

[2017-04-21 19:07] mstanleyjones commented on #2126
Points to @bdwill

[2017-04-21 19:08] mstanleyjones commented on #1476
Fixed via #2971 and #2857

Points to @bdwill and @jmaitrehenry

[2017-04-21 19:10] mstanleyjones commented on #1017
Closed via #2857, #2971
Points to @bdwill

[2017-04-21 19:10] #1017 closed

[2017-04-21 19:16] johnharris85 commented on #1417
I'll take a look / claim this :)

[2017-04-21 19:18] londoncalling commented on #2592
@stevenhanna6 Thank you for the thorough test to try to reproduce. Sounds exactly right to me, and validates our Hyper-V instructions to create the external network switch. How about this .. Can you create a PR to add a couple of things to possibly help avoid this problem in future? (Either way, we'll credit you the full points for this issue.)

Below are my ideas for making this clearer without _

[2017-04-21 19:18] #1580 closed

[2017-04-21 19:22] stevenhanna6 commented on #1805
claimed